{% extends base_template %}

{% block main_section %}
    <div id="about_us_section" class="container extra-large-margin-bottom">
        <div class='row'>
            <h1 class="title">About Us</h1>   
        </div>
        <hr>
        <div class='row'>
            <p>
                Our platform was started when one of our co-founders, Dang, tried to sell his spare ipod. He tried several listing sites and apps but no service provided a safe, secure, and anonymous transaction. 
            </p>
            <p>
                Finally, he decided to list his ipod on his company's internal email list. He sold his ipod quickly without any hassle and also make a new friend when making the transaction with his coworker. However, the email list is only limited to his company employee. Mythdoor was born from this realization
            </p>
            <p>
                Founded in April of 2016 and based in Seattle, WA, Mythdoor is a trusted marketplace for people to buy and sell securely and anonymously with local professionals and their connections. 
            </p>
            <p>
                Each user is verified through their work email prior to selling on the site and can be managed by personal email. User who does not have company email can request to be connection with professional users. Only professional and their connections can have permission to post and sell their item, and your name will never be public. Buyer who contact the seller will be shown as either a professional, a professional connection or anonymous.  
            </p>
            <p>
                From our own experience when doing local transaction, we put safety and privacy as top priority. For this reason, we created Mythdoor to help people have hassle-free local transactions. Your safety and privacy is always our top priority. 
            </p>
            <p>
                We are working hard to release a mobile app soon. Any feedback is welcome. 
            </p>
        </div>
    </div>

{% endblock %}