{% extends base_template %}

{% block main_section %}
<div class="container extra-large-margin-bottom">

    <h1 class="title">Terms of Service</h1>
    <p>
        <strong>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. THESE TERMS INCLUDE A MANDATORY ARBITRATION PROVISION AND CLASS ACTION WAIVER PROVISION, WHICH AFFECT YOUR RIGHTS ABOUT HOW TO RESOLVE ANY DISPUTE WITH OFFERUP, INC. BY ACCESSING OR USING OUR WEBSITE, APPLICATIONS OR OTHER PRODUCTS OR SERVICES (TOGETHER, THE “OFFERUP SERVICE”), YOU AGREE TO BE BOUND BY ALL TERMS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE (“TERMS”). IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE THE OFFERUP SERVICE.</strong>
    </p>
    <p>These Terms apply to your access to and use of the Mythdoor Service provided by Mythdoor, Inc. (“Mythdoor,” “we” and “us”). Additional terms (including, but not limited to, the terms of social media services and third-party payment processors) may apply to particular functionalities and features related to the Mythdoor Service.</p>
    <p>Note: Mythdoor is piloting a new electronic payments solution that is only available to certain users. As a result, some provisions of these Terms of Service related to the payments solution may not apply to all users.</p>
    <h4>1. Eligibility</h4>
    <p>
        <strong>ONLY USERS WHO ARE THIRTEEN (13) YEARS OF AGE OR OLDER MAY REGISTER FOR OR USE THE OFFERUP SERVICE.</strong>
        The Mythdoor Service is not targeted towards, nor intended for use by, anyone under the age of thirteen (13). If you are between the ages of thirteen (13) and eighteen (18), you may use the Mythdoor Service only under the supervision of a parent or legal guardian who agrees to be bound by these Terms and any applicable additional terms. You further represent and warrant that you: (a) have not previously been suspended or removed from using the Mythdoor Service; (b) are legally permitted to, and do, live in the United States or one of its territories, and (c) may enter into this agreement without violating any other agreement to which you are a party. If you are registering to use the Mythdoor Service on behalf of a legal entity, you further represent and warrant that (i) such legal entity is duly organized and validly existing under the applicable laws of the jurisdiction of its organization, and (ii) you are duly authorized by such legal entity to act on its behalf.
    </p>
    <h4>2. Account Registration and Security Responsibilities</h4>
    <p>
        <strong>A. Process.</strong>
        In order to access certain parts of the Mythdoor Service, you may be required to create an Mythdoor account (an “Account”) or a seller payment account (“Stripe Account”) with Stripe, Inc. (“Stripe”). In connection with creating an Account or a Stripe Account, you must provide certain information (“Registration Data”) and answer all questions or fields marked “required.” You agree to: (i) provide true, accurate, current and complete Registration Data; (ii) maintain and update such Registration Data to keep it true, accurate, current and complete; and (iii) consent to allow Mythdoor to contact you for the purpose of confirming some or all of your Registration Data, to conduct research and to resolve disputes, as Mythdoor may elect to do from time to time.
    </p>
    <div><strong>B. Payment Options.</strong></div>
    <p>
        <strong>1. Cash and Other Payments Determined by Users.</strong>
        A buyer may, by agreement with the seller, elect to make payment by cash, check or other payment method accepted by the seller.
        Such payments are made directly between the buyer and the seller when they meet in person to complete their purchase and sale transaction, pursuant to terms they determine.
        Mythdoor is not a party to such transactions, and does not facilitate such transactions, refunds or returns in any manner.
    </p>
    <p>
        <strong>2. Mythdoor Payment Solution.</strong>
        A buyer and seller may instead pay with and accept credit cards and other electronic payment methods (each an “Electronic Payment Method”) through the Mythdoor Service.
        Mythdoor has integrated with Stripe, a payment processing service, to allow sellers to accept certain Electronic Payment Methods from buyers using Stripe’s payment processing services (“Mythdoor Payment Solution”).
        Buyers who wish to use the Mythdoor Payment Solution must register an Electronic Payment Method with Mythdoor, and sellers must enroll for the service through Stripe. Enrollment in and usage of the Mythdoor Payment Solution is voluntary, so buyers should note that some sellers may not accept Electronic Payment Methods, or may only accept Electronic Payment Methods for certain transactions.
        Mythdoor, in its sole discretion, may from time to time impose limits on your ability to make and/or receive payments through the Mythdoor Payment Solution. Additionally, Stripe may impose its own limits and limitations on a seller’s use of the Mythdoor Payment Solution.
        For instance, a seller’s enrollment in the Mythdoor Payment Solution is subject to Stripe’s confirmation that the seller meets Stripe’s enrollment criteria.  Sellers should refer to Section 2(d) below for information about the impact of failing to meet Stripe’s enrollment criteria.
    </p>
    <p>
        <strong>a. Buyers.</strong>
        As with any purchases made using cash, all purchases made using the Mythdoor Payment Solution are made directly between the buyer and the seller when they meet in person to complete their purchase and sale transaction, pursuant to the terms they determine.
        When you initiate a payment through the Mythdoor Payment Solution, the seller processes your Electronic Payment Method using Stripe’s payment processing service.
        Mythdoor is not a party to purchase and sale transactions completed using the Mythdoor Payment Solution, and does not facilitate such transactions, refunds or returns in any manner, except to provide an interface through which you can provide your Electronic Payment Method to Stripe to process on behalf of the seller.
    </p>
    <p>
        <strong>b. Sellers.</strong> By using the Mythdoor Payment Solution to accept Electronic Payment Methods, you are entering into an agreement with Stripe subject to the terms of the <a class="alt" href="https://stripe.com/connect/account-terms" rel="nofollow" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a class="alt" href="https://stripe.com/terms" rel="nofollow" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”).
        Notwithstanding anything to the contrary in the Stripe Services Agreement, you will not have the right to have Stripe, and will not request that Stripe, transfer any buyer data Stripe collects via the Mythdoor Payment Solution to an alternative payment processor.  Except for the foregoing restriction that supersedes any rights you may have in the Stripe Services Agreement, the Stripe Services Agreement is separate from these Terms.
        Mythdoor is not a party to the Stripe Services Agreement and will not be liable or responsible for the payment services provided by Stripe.
    </p>
    <p>
        <strong>c. Seller Fees.</strong>
        You agree to pay the service fees (“Service Fees”) described in the <a class="alt" href="/payments/faq/seller/" target="_self">FAQs</a> for the sales transactions you make using the Mythdoor Payment Solution.
        The Service Fees include Electronic Payment Method processing fees to Stripe and service fees to Mythdoor. Mythdoor reserves the right to change the Service Fees from time to time.
    </p>
    <p>
        <strong>d. Receiving Sales Proceeds.</strong> Upon completion of a sale in which the buyer uses the Mythdoor Payment Solution, if you have not previously set up a Stripe Account, then you must set up a Stripe Account in accordance with the requirements specified by Stripe to receive the payment via the Mythdoor Payment Solution.  STRIPE MUST ACCEPT YOUR APPLICATION TO USE THE OFFERUP PAYMENT SOLUTION BEFORE YOU CAN RECEIVE SALES PROCEEDS VIA THE OFFERUP PAYMENT SOLUTION.  IF STRIPE REJECTS YOUR APPLICATION OR YOU FAIL TO SET UP A STRIPE ACCOUNT WITHIN 90 DAYS AFTER COMPLETION OF A SALE PROCESSED BY STRIPE THROUGH THE OFFERUP PAYMENT SOLUTION, THEN STRIPE MAY DISABLE OR LIMIT YOUR ABILITY TO RECEIVE SALES PROCEEDS VIA THE OFFERUP PAYMENT SOLUTION.
    </p>
    <p>
        <strong>e. Additional Information.</strong>
        For additional information regarding the Mythdoor Payment Solution, see our <a class="alt" href="/payments/faq/seller/" target="_self">FAQs</a>.
    </p>
    <p>
        <strong id="no-refunds">3. Transactions Final.</strong>
        Regardless of the payment method chosen, <strong class="underline">ALL PURCHASES ARE FINAL, AND THERE ARE NO REFUNDS, UNLESS YOU AND THE SELLER OTHERWISE AGREE AND MAKE ARRANGEMENTS FOR A REFUND. Mythdoor will not be responsible for facilitating refunds.</strong>
    </p>
    <p>
        <strong>4. Taxes.</strong>
        It is your responsibility to determine what, if any, taxes apply to each transaction you complete via the Mythdoor Service, including, for example, sales, use, value added, and similar taxes.
        It is also your responsibility to withhold, collect, report and remit the correct taxes to the appropriate tax authorities. Mythdoor is not responsible for withholding, collecting, reporting, or remitting any sales, use, value added, or similar tax arising from any transaction you complete via the Mythdoor Service.
    </p>

    <p><strong>C. TruYou Feature.</strong></p>
    <p>
        We may at times offer features enabling you to apply for or request certain badges (each, a “Badge”) to be associated with your Mythdoor Service account, including through your account profile.
        We may make available the TruYou feature (“TruYou”), which is a voluntary feature through which we may associate a TruYou Badge with certain users that have provided personal identification documents (e.g., a driver’s license) to us.
        Where you see the TruYou Badge associated with a user’s account, that is a designation that that user has chosen to use the voluntary TruYou feature.
        THE TRUYOU BADGE DOES NOT DESIGNATE, AND WE DO NOT REPRESENT OR WARRANT THAT, (A) WE HAVE VERIFIED THAT A USER WITH A TRUYOU BADGE IS THE PERSON THAT THEY CLAIM TO BE, (B) THAT A USER IS IN FACT THE PERSON IDENTIFIED IN ANY PERSONAL IDENTIFICATION DOCUMENT THAT USER HAS PROVIDED TO US, OR (C) THAT WE HAVE TAKEN ANY STEPS TO RUN A CRIMINAL OR OTHER BACKGROUND CHECK OR OTHERWISE MAKE AN ASSESSMENT OF A USER’S INTEGRITY OR CHARACTER.
    </p>
    <p>
        If you choose to use the TruYou feature, you represent and warrant to us that (a) any personal identification document that you provide to us is an unaltered and accurate image of your government-issued personal identification document that is without error, and (b) that you have all necessary permissions to provide such personal identification documents to us and your provision of such personal identification documents to us will not violate any law or regulation or cause us to be subject to any investigation, prosecution or legal action.
        DO NOT USE THIS FEATURE IF THE FOREGOING IS NOT TRUE. We may disclose your photo identification document or certain personal information you provide to our third-party service providers that may help us to detect inaccurate or fraudulent personal identification documents and related information.
        The TruYou feature and similar programs involving Badges may be discontinued at any time without notice, and we reserve the right to grant and revoke Badges for you or any other user at any time and without any liability to us.
    </p>

    <h4>6. Discontinuance of the Mythdoor Service</h4>
    <p>
        Mythdoor may, in its sole discretion and without liability to you, modify, discontinue, terminate, suspend or shut-down (temporarily or permanently) all or any portion of the Mythdoor Service at any time, without prior notice.
        Upon any such action by Mythdoor, you must immediately stop using the Mythdoor Service. You may also cancel your Account at any time, as described in Section 15 below.
        In addition, the TruYou feature and similar programs involving Badges may be discontinued at any time without notice.
    </p>
    <h4>7. Acceptable Use</h4>
    <p>
        When accessing or using the Mythdoor Service, you agree that you will not violate any law, contract, intellectual property or other third-party right or commit a tort. Without limiting the generality of the foregoing, you agree that you will not do, and will not permit any third party to do, any of the following:
    </p>
    <ul>
        <li>Engage in any unauthorized use of the Mythdoor Service (including, without limitation, political campaigning, advertising, or marketing);</li>
        <li>Transmit or otherwise make available any content that: (1) you do not have the right to provide or transmit using the Mythdoor Service, (2) may expose Mythdoor or its affiliates, licensors, or users to any harm or liability, or (3) is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, unlawful, untrue, or otherwise objectionable;</li>
        <li>Upload to, transmit, distribute, store, create, or otherwise sell or offer for sale anything that violates our <a class="alt" href="/support/?return_to=/hc/en-us/articles/202348909" target="_self">Prohibited Items Guidelines</a>.</li>
        <li>Transmit or otherwise make available any content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
        <li>Originate, send, deliver, relay or otherwise transmit unsolicited commercial email or other messages through the Mythdoor Service;</li>
        <li>Copy any portion of the Mythdoor Service or any underlying content or source code;</li>
        <li>Reverse engineer, disassemble or decompile any portion of the Mythdoor Service or otherwise attempt to discover or re-create the source code to any software;</li>
        <li>Distribute the software or source code behind the Mythdoor Service to any third party;</li>
        <li>Make any modification, adaptation, improvement, enhancement, translation or derivative work of or to any portion of the Mythdoor Service;</li>
        <li>Remove, alter, or obscure any copyright or other proprietary notices of Mythdoor or its affiliates or licensors in any portion of the Mythdoor Service;</li>
        <li>Obscure or disable any advertisements that appear on or through the Mythdoor Service;</li>
        <li>Use any type of automated means, including without limitation any harvesting bot, robot, spider, script, crawler, scraper or other automated means or interface not provided by Mythdoor, to utilize the Mythdoor Service or to collect or extract data;</li>
        <li>Access without authorization any networks, systems, or databases used in providing the Mythdoor Service or any accounts associated with Mythdoor Service, or to access or use any information therein for any purpose;</li>
        <li>Attempt to probe, test, hack, or otherwise circumvent any security measures;</li>
        <li>Violate any requirements, policies, procedures or regulations of any network connected to the Mythdoor Service;</li>
        <li>Use the Mythdoor Service in any manner that could damage, disable, overburden, or otherwise impair the Mythdoor Service (or the networks connected to the Mythdoor Service);</li>
        <li>Interfere with or disrupt the use and enjoyment by others of the Mythdoor Service, including without limitation attempting, in any manner, to obtain the password, account, or other security information of any other user;</li>
        <li>Falsely state, impersonate, or otherwise misrepresent your identity;</li>
        <li>Provide false information during Account creation or when using the TruYou Badge or the Mythdoor Payment Solution, or otherwise provide false, inaccurate or misleading information;</li>
        <li>Create more than one Account or create an Account on behalf of anyone other than yourself without permission;</li>
        <li>Use or attempt to use another user’s Account without authorization;</li>
        <li>Attempt to pay for an item using the Mythdoor Payment Solution with an Electronic Payment Method that you either do not own or are not validly authorized to use;</li>
        <li>Use the Mythdoor Service in any manner to stalk, harass, invade the privacy of, or otherwise cause harm to, any person;</li>
        <li>Use the Mythdoor Service in any manner that exposes Mythdoor to any harm or liability of any nature;</li>
        <li>Use the Mythdoor Service to infringe or violate the intellectual property rights or any other rights of anyone else (including Mythdoor);</li>
        <li>Develop any third-party applications that interact with the Mythdoor Service without Mythdoor’s prior written consent;</li>
        <li>Use the Mythdoor Service to engage in any illegal or unauthorized purpose or to engage in, encourage, or promote activities that are unlawful, misleading, malicious or discriminatory, including, but not limited to violations of these Terms, illegal gambling, fraud, money-laundering, or terrorist activities;</li>
        <li>Transfer any rights granted to you under these Terms; or</li>
        <li>Encourage or induce any third party to engage in any of the activities prohibited under this section.</li>
    </ul>

    <p>
        If you violate any of the foregoing, Mythdoor reserves the right to suspend or terminate your right to access and use the Mythdoor Service immediately without notice, and you will have infringed Mythdoor’s intellectual property and other rights, which may subject you to prosecution and damages.
        Mythdoor also reserves the right to take any remedies it deems appropriate under the circumstances if you have purchased or sold items that are in violation of this Section 7.
        Mythdoor reserves the right at all times to monitor, review, retain and disclose any information regarding your use of the Mythdoor Service as necessary to satisfy any applicable law, regulation, legal process or governmental request.
        You also acknowledge and agree that Mythdoor is not responsible or liable for the conduct of, or your interactions with, any users of the Mythdoor Service (whether online or offline). Your interactions with other users are solely between you and such users and we are not responsible or liable for any loss, damage, injury or harm which results from these interactions.
        In addition, enforcement of these Terms is solely in our discretion, and the absence of enforcement in some instances does not constitute a waiver of our right to enforce these Terms in other instances.
        These Terms do not create any private right of action on the part of any third party or any reasonable expectation or promise that the Mythdoor Service will not contain any content that is prohibited by these Terms.
    </p>

    <h4>8. User Content</h4>
    <p>
        In the course of using the Mythdoor Service, you may transmit or otherwise make available certain content, including information about yourself, content, messages, materials, data, information, text, photos, graphics, code or other items or materials (“User Content”) through interactive areas or services, such as posting items for sale, making an offer, private messaging, or other areas or services.
        User Content may be publicly viewable in some instances. Mythdoor reserves the right, but does not have the obligation, to remove, screen or edit any User Content posted or stored on the Mythdoor Service at any time and for any reason without notice.
        You will not (and will not allow or authorize any third-party to) post, upload to, transmit, distribute, store, create, solicit, disclose, or otherwise, publish through the Mythdoor Service any of the following:
    </p>
    <ul>
        <li>User Content that is, in Mythdoor’s judgment, disrespectful or may expose Mythdoor, Users or others to harm or liability;</li>
        <li>User Content that may infringe the patent, trademark, trade secret, copyright, intellectual, privacy or proprietary right of any party;</li>
        <li>Private information of any third parties, including addresses, phone numbers and payment card information;</li>
        <li>Viruses, corrupted data or other harmful, disruptive, or destructive files; or</li>
        <li>User Content that inhibits any other person from using or enjoying the Mythdoor Service.</li>
    </ul>
    <p>
        You are solely responsible for creating backup copies of and replacing your User Content at your sole cost and expense.
        You acknowledge and agree that Mythdoor is not responsible for any errors or omissions that you make in connection with the Mythdoor Service.
        By submitting or posting User Content, you hereby grant to Mythdoor a non-exclusive, transferable, royalty-free, perpetual, irrevocable, sublicensable right to use, reproduce, modify, adapt, publish, translate, sell, create derivative works from, distribute, perform, and display the User Content, and your name, company name, location and any other information you submit with the User Content, in connection with the Mythdoor Service.
        The use of your or any other User’s name, likeness, or identity in connection with the Mythdoor Service does not imply any endorsement thereof unless explicitly stated otherwise. We also have the right to disclose your identity to any third party who is claiming that any content posted by you constitutes a violation of their intellectual property rights, or of their right to privacy.
    </p>

    <h4>9. Moderation</h4>
    <p>
        You agree that Mythdoor may moderate access to and use of the Mythdoor Service in our sole discretion through any means (including, for example, blocking, filtering, deletion, delay, omission, verification, and/or termination of your access.
        Furthermore, we have the right to remove any posting you make on the Mythdoor Service if, in our opinion, your post does not comply with the content standards set out in Sections 7 and 8 above, and any other Mythdoor Service rules, including without limitation the <a class="alt" href="/support/?return_to=/hc/en-us/articles/202348909" target="_self">Prohibited Items Guidelines</a>.
        You agree not to bypass or attempt to bypass such moderation. You further agree that Mythdoor is not liable for moderating, not moderating or making any representations regarding moderating.
    </p>

    <h4>10. Third Party Services and Content</h4>
    <p>
        In using the Mythdoor Service, you may view content, utilize services, or otherwise interact with content and services provided by third parties, including, but not limited to, the Mythdoor Payment Solution provided by a third-party payment processor, links and/or connections to websites, applications or services of such parties (“Third-Party Content”).
        Mythdoor does not control, endorse or adopt any Third-Party Content and you acknowledge and agree that Mythdoor will have no responsibility for any Third Party Content, including without limitation, material that may be misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable.
        In addition, your business or other dealings or correspondence with such third parties are solely between you and the third parties.
        Mythdoor is not responsible or liable for any damage or loss of any sort caused, or alleged to be caused, by or in connection with any such dealings, including the delivery, quality, safety, legality or any other aspect of any good or services that you may purchase or sell to or from a third party.
    </p>

    <h4>11. Feedback</h4>
    <p>
        Any comments or materials sent to us, including, but not limited to, ideas, questions, comments, suggestions, feedback or the like regarding the Mythdoor Service or any other products or services of Mythdoor (collectively, "Feedback"), is non-confidential and will become our sole property.
        We will have no obligation to you of any kind, monetary or non-monetary, with respect to such Feedback and will be free to reproduce, use, disclose, exhibit, display, transform, create derivative works from and distribute the Feedback to others without limitation or obligation.
        You waive any rights you may have to the Feedback (including any copyrights or moral rights). Further, you agree not to submit any feedback that is defamatory, illegal, offensive or otherwise violates any right of any third party, or breaches any agreement between you and any third party.
    </p>

    <h4>12. Copyright Policy</h4>
    <div class="text-indent">
        <p>
            <strong>A. Repeat Infringer Policy.</strong>
            In accordance with the Digital Millennium Copyright Act (“DMCA”) and other applicable law, Mythdoor has adopted a policy of terminating, in appropriate circumstances and at Mythdoor’s discretion, users who are deemed to be repeat infringers.
            We also may, at Mythdoor’s discretion, limit access to the Mythdoor Service and terminate access of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.
        </p>
        <p>
            <strong>B. Copyright Complaints.</strong>
            If you believe that anything on the Mythdoor Service infringes upon any copyright that you own or control, you may file a notification with Mythdoor’s Designated Agent as set forth below:
        </p>
    </div>
    <p>
        Designated Agent:<br/>
        <strong>Mythdoor Copyright Agent</strong><br/>
        Address of Designated Agent:<br/>
        <a href="" class="disabled"><strong>227 Bellevue Way NE #57 <br/>Bellevue, Washington 98004</strong></a><br/>
        Email Address of Designated Agent:<br/>
         <a href="mailto:legal@mythdoor.com" class="disabled"><strong>legal@mythdoor.com</strong></a>
    </p>
    <p class="text-indent">
        Please see 17 U.S.C. § 512(c)(3) for the requirements of a proper notification. If you knowingly misrepresent in your notification that the material or activity is infringing, you may be liable for any damages, including costs and attorneys’ fees, incurred by Mythdoor or the alleged infringer as the result of Mythdoor’s reliance upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing.
    </p>

    <h4>13. Intellectual Property Rights</h4>
    <p>
        Unless otherwise indicated, the Mythdoor Service and all content, materials, information, functionality and other materials displayed, performed, contained or available on or through the Mythdoor Service, including, without limitation, the Mythdoor logo, and all designs, text, graphics, pictures, information, data, sound files, images, illustrations, software, other files, and the selection and arrangement thereof (collectively, the “Materials”) are the proprietary property of Mythdoor or its affiliates or licensors, and are protected by U.S. and international copyright laws and other intellectual property rights laws.
    </p>
    <p>
        Except as otherwise provided, subject to your compliance with all of the terms and conditions of these Terms, and in consideration of your promises reflected herein (and with respect to any services requiring payment of fees, your payment of such fees), we grant to you a revocable, personal, non-exclusive, non-assignable and non-transferable license for personal, non-commercial purposes, except where explicitly provided otherwise, to (i) access and use the Mythdoor Service, (ii) cause the Materials to be displayed from a computer and/or mobile device and (iii) use the Materials, solely as permitted under these Terms (the “License”).
        Mythdoor and its affiliates and licensors reserve all rights not expressly granted to you in these Terms. You agree that these Terms do not grant you any rights in or licenses to the Mythdoor Service or the Materials, except for this express, limited License. You will not otherwise copy, transmit, distribute, sell, resell, license, de-compile, reverse engineer, disassemble, modify, publish, participate in the transfer or sale of, create derivative works from, perform, display, incorporate into another website, or in any other way exploit any of the Materials or any other part of the Mythdoor Service or any derivative works thereof, in whole or in part for commercial or non-commercial purposes. Without limiting the foregoing, you agree not to frame or display the Mythdoor Service or Materials (or any portion thereof) as part of any other website or any other work of authorship without our prior written permission. The License granted under this Section will automatically terminate if we suspend or terminate your access to the Mythdoor Service.
    </p>

    <h4>14. Trademarks</h4>
    <p>
        Mythdoor, mythdoor.com and other Mythdoor graphics, logos, page headers, buttons, icons, scripts, and service names are trademarks, registered trademarks, or trade dress of Mythdoor or its affiliates in the U.S. and/or other countries, and may not be copied, imitated, or used, in whole or in part, without Mythdoor’s prior written consent.
        You will not use any trademark, product or service name of Mythdoor without our prior written permission, including without limitation any metatags or other “hidden text” utilizing any trademark, product of service name of Mythdoor. All other registered trademarks and service marks are used for reference purposes only, and remain the property of their respective owners.
        Reference to any products, services, processes or other information, by name, trademark, manufacturer, supplier or otherwise does not constitute or imply an endorsement, sponsorship or recommendation by Mythdoor.
    </p>

    <h4>15. Suspension; Termination.</h4>
    <p>
        Mythdoor may revoke or terminate your License to access or use the Mythdoor Service for any reason without notice at Mythdoor’s sole discretion.
        Without limiting the generality of the foregoing, we may revoke or terminate the License if you: (i) breach any obligation in these Terms or in any other agreement between you and us, (ii) violate any policy or guideline applicable to the Mythdoor Service or Materials, or any other Mythdoor product or service, or (iii) use the Mythdoor Service or the Materials other than as specifically authorized in these Terms, without our prior written permission.
        You will stop accessing or using the Mythdoor Service immediately if Mythdoor suspends or terminates your License to access or use the Mythdoor Service. Mythdoor reserves the right, but does not undertake any duty, to take appropriate legal action including the pursuit of civil, criminal, or injunctive redress against you for continuing to use the Mythdoor Service during suspension or after termination. Mythdoor may recover its reasonable attorneys’ fees and court costs from you for such action. These Terms will remain enforceable against you while your License to access or use the Mythdoor Service is suspended and after it is terminated.
    </p>
    <p>
        You may also terminate your License to access or use the Mythdoor Service by closing your Mythdoor Account at any time. For more details on how to close your Mythdoor Account, please refer to our FAQs.
    </p>

    <h4>16. Disclaimer of Warranties</h4>
    <div class="text-indent">
        <p>A. TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, AND EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY US, THE OFFERUP SERVICE, THE MATERIALS AND ANY ITEMS SOLD BY USERS THROUGH THE OFFERUP SERVICE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE OFFERUP SERVICE, INCLUDING THE INFORMATION, CONTENT AND MATERIALS CONTAINED THEREIN, AND ANY ITEMS SOLD THROUGH THE OFFERUP SERVICE.</p>
        <p>B. WITHOUT LIMITING THE FOREGOING, NEITHER OFFERUP NOR ANY OF ITS AFFILIATES OR LICENSORS, NOR THE RESPECTIVE OFFICERS, DIRECTORS, LICENSORS, EMPLOYEES OR REPRESENTATIVES OF SUCH PARTIES (COLLECTIVELY, THE "OFFERUP PROVIDERS") REPRESENT OR WARRANT (I) THAT THE OFFERUP SERVICE, MATERIALS OR ITEMS SOLD THROUGH THE OFFERUP SERVICE WILL MEET YOUR REQUIREMENTS OR BE ACCURATE, COMPLETE, APPROPRIATE, RELIABLE OR ERROR FREE; (II) THAT THE OFFERUP SERVICE, MATERIALS OR ITEMS SOLD THROUGH THE OFFERUP SERVICE WILL ALWAYS BE AVAILABLE OR WILL BE UNINTERRUPTED, ACCESSIBLE, TIMELY, RESPONSIVE OR SECURE; (III) THAT ANY DEFECTS WILL BE CORRECTED, OR THAT THE OFFERUP SERVICE, MATERIALS OR ITEMS SOLD THROUGH THE OFFERUP SERVICE WILL BE FREE FROM VIRUSES, "WORMS," "TROJAN HORSES" OR OTHER HARMFUL PROPERTIES; (IV) THE ACCURACY, RELIABILITY, TIMELINESS OR COMPLETENESS OF ANY MATERIALS AVAILABLE ON OR THROUGH THE OFFERUP SERVICE; (V) ANY IMPLIED WARRANTY ARISING FROM COURSE OF DEALING OR USAGE OF TRADE; (VI) THAT THE OFFERUP SERVICE, MATERIALS OR ITEMS SOLD THROUGH THE OFFERUP SERVICE ARE NON-INFRINGING; OR (VII) THAT ANY BADGE IS A REPRESENTATION AS TO THE IDENTITY, CHARACTER OR INTEGRITY OF ANY PERSON, BUSINESS, OR ENTITY THAT IS ASSOCIATED WITH A BADGE.</p>
        <p>C. YOU ACKNOWLEDGE THAT INFORMATION YOU STORE OR TRANSFER THROUGH THE OFFERUP SERVICE MAY BECOME IRRETRIEVABLY LOST OR CORRUPTED OR TEMPORARILY UNAVAILABLE DUE TO A VARIETY OF CAUSES, INCLUDING SOFTWARE FAILURES, PROTOCOL CHANGES BY THIRD PARTY PROVIDERS, INTERNET OUTAGES, DISASTERS, SCHEDULED OR UNSCHEDULED MAINTENANCE, OR OTHER CAUSES EITHER WITHIN OR OUTSIDE OUR CONTROL. YOU ARE SOLELY RESPONSIBLE FOR BACKING UP AND MAINTAINING DUPLICATE COPIES OF ANY INFORMATION YOU STORE OR TRANSFER THROUGH THE OFFERUP SERVICE.</p>
        <p>Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.</p>
    </div>

    <h4>17. Assumption of Risk</h4>
    <p>You acknowledge and agree that there are risks associated with utilizing an Internet-based marketplace for the sale of goods, including but not limited to, the risk of failure of hardware, software and Internet connections, the risk of malicious software introduction, and the risk that third parties may obtain unauthorized access to information stored within your Account. You acknowledge and agree that Mythdoor will not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when using the Mythdoor Service, however caused.</p>
    <p>Mythdoor takes no responsibility for and will not be liable for any losses, damages or claims arising from the use of the Mythdoor Service, including, but not limited to, any losses, damages or claims arising from (a) server failure or data loss, (b) forgotten passwords, or (c) “phishing,” spam, viruses, third-party attacks or any other unauthorized third-party activities.</p>

    <h4>18. Limitation of Liability</h4>
    <div class="text-indent">
        <p>A. EXCEPT AS OTHERWISE REQUIRED BY LAW, IN NO EVENT SHALL OFFERUP OR THE OFFERUP PROVIDERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), PRODUCT LIABILITY, STRICT LIABILITY OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH: (I) USE OF THE OFFERUP SERVICE OR MATERIALS, INCLUDING, BUT NOT LIMITED TO, ANY DAMAGE CAUSED BY ANY RELIANCE ON, OR ANY DELAYS, INACCURACIES, ERRORS OR OMISSIONS IN, ANY OF THE OFFERUP SERVICE OR MATERIALS, (II) ANY INABILITY TO USE THE OFFERUP SERVICE OR MATERIALS FOR WHATEVER REASON, OR (III) ANY GOODS OR SERVICES DISCUSSED, PURCHASED OR OBTAINED, DIRECTLY OR INDIRECTLY, THROUGH THE OFFERUP SERVICE, IN EACH CASE EVEN IF OFFERUP OR THE OFFERUP PROVIDERS ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM COMPANY, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM A FORCE MAJEURE EVENT, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO OFFERUP’S RECORDS, PROGRAMS OR SERVICES.</p>
        <p>Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the limitations of this section may not apply to you.</p>
        <p>B. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE AGGREGATE LIABILITY OF OFFERUP OR THE OFFERUP PROVIDERS, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF, OR INABILITY TO USE, COMPANY OR TO THESE TERMS EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO OFFERUP FOR ACCESS TO OR USE OF THE OFFERUP SERVICE OR MATERIALS.</p>
    </div>

    <h4>19. Indemnity</h4>
    <p>You agree to hold harmless, defend and indemnify Mythdoor and the Mythdoor Providers from all liabilities, losses, damages, deficiencies, claims, causes of action, demands and expenses, (including, but not limited to, reasonable attorneys' fees), that are due to, arise from or otherwise relate to your conduct or your use or misuse of the Mythdoor Service or Materials, including, without limitation, any actual or threatened suit, demand or claim made against Mythdoor or any Mythdoor Provider that arises out of or relates to: (i) any intellectual property rights or other proprietary rights of any third party, (ii) your breach of these Terms including without limitation your breach of any of your representations and warranties; (iii) your use of any of the Mythdoor Service or Materials; or (iv) any content that you store on or transmit through the Mythdoor Service. Mythdoor may assume exclusive control of any defense of any matter subject to indemnification by you, and you agree to cooperate with Mythdoor in such event.</p>

    <h4>20. Arbitration</h4>
    <p>PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO SUBMIT TO BINDING ARBITRATION (INCLUDING A JURY TRIAL WAIVER) ANY AND ALL DISPUTES (OTHER THAN SPECIFIED INTELLECTUAL PROPERTY CLAIMS AND SMALL CLAIMS) WITH OFFERUP AND IT LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM OFFERUP (NO CLASS ARBITRATIONS, CLASS ACTIONS OR REPRESENTATIVE ACTIONS OR ARBITRATIONS).</p>
    <div class="text-indent">
        <p>
            <strong>A. Binding Arbitration.</strong>
            Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, “Disputes”) arising out of or related to a violation of Section 7 or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and Mythdoor agree (1) to waive your and Mythdoor’s respective rights to have any and all Disputes arising from or related to these Terms, the Mythdoor Service or the Materials, resolved in a court, and (2) to waive your and Mythdoor’s respective rights to a jury trial. Instead, you and Mythdoor agree to arbitrate Disputes through binding arbitration (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).
        </p>
        <p>
            <strong>B. No Class Arbitrations, Class Actions or Representative Actions.</strong>
            You and Mythdoor agree that any Dispute arising out of or related to these Terms, the Mythdoor Service or the Materials is personal to you and Mythdoor and that such Dispute will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding.
            You and Mythdoor agree that there will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, you and Mythdoor agree that a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.
        </p>
        <p>
            <strong>C. Federal Arbitration Act.</strong>
            You and Mythdoor agree that these Terms affect interstate commerce and that the enforceability of this Section 20 shall be both substantively and procedurally governed by and construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (the “FAA”), to the maximum extent permitted by applicable law.
        </p>
        <p>
            <strong>D. Notice; Informal Dispute Resolution.</strong>
            You and Mythdoor agree that each party will notify the other party in writing of any arbitrable or small claims Dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the Dispute informally. Notice to Mythdoor shall be sent by certified mail or courier to Mythdoor, Inc., Attn: Mythdoor Designated Agent, 227 Bellevue Way NE #57, Bellevue, Washington 98004. Your notice must include (1) your name, postal address, telephone number, the email address you use or used for your Mythdoor Account, and, if different, an email address at which you can be contacted, (2) a description in reasonable detail of the nature or basis of the Dispute, and (3) the specific relief that you are seeking. Pursuant to Section 4, our notice to you will be sent to the email address you used to register for your Mythdoor Account, and will include (a) our name, postal address, telephone number and an email address at which we can be contacted with respect to the Dispute, (b) a description in reasonable detail of the nature or basis of the Dispute, and (c) the specific relief that we are seeking.
            If you and Mythdoor cannot agree how to resolve the Dispute within thirty (30) days after the date notice is received by the applicable party, then either you or Mythdoor may, as appropriate and in accordance with this Section 20, commence an arbitration proceeding, or to the extent specifically provided for in section 20(A), file a claim in court.
        </p>
        <p>
           <strong>E. Process.</strong>
            Except for Disputes arising out of or related to a violation of Section 7 or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and Mythdoor agree that any Dispute must be commenced or filed by you or Mythdoor within one (1) year of the date the Dispute arose, otherwise the underlying claim is permanently barred (which means that you and Mythdoor will no longer have the right to assert such claim regarding the Dispute).
            You and Mythdoor agree that (1) any arbitration will occur in King County, Washington, (2) arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of the Judicial Arbitration and mediation Services (“JAMS”), which are hereby incorporated by reference, and (3) that the state or federal courts of the State of Washington and the United States, respectively, sitting in King County, Washington have exclusive jurisdiction over any appeals and the enforcement of an arbitration award. You may also litigate a Dispute in the small claims court located in the county of your billing address if the Dispute meets the requirements to be heard in small claims court.
        </p>
        <p>
            <strong>F. Authority of the Arbitrator.</strong>
            As limited by the FAA, these Terms and the applicable JAMS rules, the arbitrator will have (1) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable, and (2) the authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative action, which is prohibited by these Terms.
            The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.
        </p>
        <p>
            <strong>G. Rules of JAMS.</strong>
            The rules of JAMS and additional information about JAMS are available on the <a href="http://www.jamsadr.com/" class="alt" rel="nofollow" target="_blank">JAMS website</a>. By agreeing to be bound by these Terms, you either (1) acknowledge and agree that you have read and understand the rules of JAMS, or (2) waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.
        </p>
        <p>
            <strong>H. Severability.</strong>
            If any term, clause or provision of this Section 20 is held invalid or unenforceable, it will be so held to the minimum extent required by law, and all other terms, clauses and provisions of this Section 20 will remain valid and enforceable.
            Further, the waivers set forth in Section 20(B) are severable from the other provisions of these Terms and will remain valid and enforceable, except as prohibited by applicable law.
        </p>
        <p>
            <strong>I. Opt-Out Right.</strong>
            You have the right to opt out of binding arbitration within thirty (30) days of the date you first accepted the terms of this Section 20 by writing to: Mythdoor, Inc., Attn: Mythdoor Designated Agent, 227 Bellevue Way NE #57, Bellevue, Washington 98004.
            In order to be effective, the opt-out notice must include your full name and clearly indicate your intent to opt-out of binding arbitration. By opting out of binding arbitration, you are agreeing to resolve Disputes in accordance with Section 21.
        </p>
    </div>

    <h4>21. Governing Law; Venue.</h4>
    <p>
        These Terms, your access to and use of the Mythdoor Service and Materials shall be governed by and construed and enforced in accordance with the laws of the State of Washington without regard to conflict of law rules or principles (whether of the State of Washington or any other jurisdiction) that would cause the application of the laws of any other jurisdiction. Any Dispute between the parties that is not subject to arbitration or cannot be heard in small claims court, shall be resolved in the state or federal courts of the State of Washington and the United States, respectively, sitting in King County, Washington.
    </p>

    <h4>22. Miscellaneous</h4>
    <div class="text-indent">
        <p>
            <strong>A. Entire Agreement; Order of Precedence.</strong>
            These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings between the parties regarding the Mythdoor Service.
            These Terms do not alter the terms or conditions of any other electronic or written agreement you may have with Mythdoor for the Mythdoor Service or for any other Mythdoor product, feature, service or otherwise. In the event of any conflict between these Terms and any other agreement you may have with Mythdoor, the terms of that other agreement will control only if these Terms are specifically identified and declared to be overridden by such other agreement.
        </p>
        <p>
            <strong>B. Amendments.</strong>
            We reserve the right to make changes or modifications to these Terms from time to time, in our sole discretion. If we make changes to these Terms, we will provide you with notice of such changes, such as by sending you an email and/or by posting the amended Terms via the Mythdoor Service and updating the “Last Updated” date at the top of these Terms.
            All amended Terms will become effective immediately on the date they are posted to the Mythdoor Service unless we state otherwise via our notice of such amended Terms. Any amended Terms will apply prospectively to use of the Mythdoor Service after such changes become effective. Your continued use of the Mythdoor Service following the effective date of such changes will constitute your acceptance of such changes. If you do not agree to any amended Terms, you must discontinue using the Mythdoor Service.
        </p>
        <p>
            <strong>C. Severability.</strong>
            If any provision of these Terms is held to be unenforceable for any reason, such provision will be reformed only to the extent necessary to make it enforceable, and such decision will not affect the enforceability of such provision under other circumstances, or of the remaining provisions hereof under all circumstances.
        </p>
        <p>
            <strong>D. Waiver.</strong>
            Our failure or delay in exercising any right, power or privilege under these Terms will not operate as a waiver thereof.
        </p>
        <p>
            <strong>E. Relationship.</strong>
            Mythdoor is an independent contractor for all purposes, and is not your agent or trustee.
        </p>
        <p>
            <strong>F. Assignment.</strong>
            You may not assign or transfer any of your rights or obligations under these Terms without prior written consent from Mythdoor, including by operation of law or in connection with any change of control. Mythdoor may assign or transfer any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.
        </p>
        <p>
            <strong>G. Headings.</strong>
            Headings of sections are for convenience only and will not be used to limit or construe such sections.
        </p>
        <p>
            <strong>H. Survival.</strong>
            Sections 16 (Disclaimer of Warranties), 18 (Limitation of Liability), 19 (Indemnity), 20 (Arbitration), 21 (Governing Law; Venue), this Section 22 (Miscellaneous), and any other term that, by its nature, should survive, will survive any termination or expiration of these Terms.
        </p>
        <p></p>
    </div>
</div>
{% endblock %}