{% extends base_template %}

{% block main_section %}
	<div id="search_post_section" class='container-fluid'>
		<div id="search_filter_section" class='col-md-3'>
			<div class='panel panel-default'>
				<div class='panel-heading row'>
					<span class='pull-left'>Filter your search</span>
					<a class='pull-right page-responsive' id="toggle_filter_search_btn">
						Show
					</a>
				</div>
				<div class='panel-body page-normal row'>
					 <form id="search_form" action="/search/" method="get" class="navbar-form" role="search" autocomplete='off' novalidate>
					 	<div class='row'>
					 		{% for field in form %}
								{% if field.errors %}
									<div class='row small-margin-bottom'>
									{{ field.label_tag() }} {{ field.errors }}
									</div>
								{% endif %}
							{% endfor %}
					 	</div>
						<div class='form-group row'>
							<label>Search Keyword</label>
							<div class='row'>
								<input type='text' class='form-control' name="q" value="{{query}}">
							</div>
						</div>

						<div class='form-group row'>
							<label>Category</label>
							{{form.category}}

							{% for key,value in subcategory_map.iteritems() %}
								{% if value %}
									{% if form.category.data == key %}
										<select class='form-control mini-margin-top sub-category-select' id="{{key}}_subcategory">
											{% for item in value %}
												{% if item.0 == form.subcategory.data %}
													<option value='{{item.0}}' selected="selected">{{item.1}}</option>
												{% else %}
													<option value='{{item.0}}'>{{item.1}}</option>
												{% endif %}
											{% endfor %}
										</select>
									{% else %}
										<select class='form-control hidden mini-margin-top sub-category-select' id="{{key}}_subcategory">
											{% for item in value %}
												<option value='{{item.0}}'>{{item.1}}</option>
											{% endfor %}
										</select>
									{% endif %}
								{% endif %}
							{% endfor %}
							<input type='hidden' name='subcategory' value="{{form.subcategory.data}}"/>
						</div>

						{% if form.category.data == "auto" and form.subcategory.data == "car" %}
						<div id="auto_filter_section" class='additional-filter'>
						{% else %}
						<div id="auto_filter_section" class='additional-filter hidden'>
						{% endif %}
							<div class='form-group'>
								<label>Auto Detail</label>
								<div class='row'>
									{% if form.make.data %}
										<input type='text' name='make' class='form-control left-half-form' placeholder='Make' value="{{form.make.data}}"/> 
									{% else %}
										<input type='text' name='make' class='form-control left-half-form' placeholder='Make'/> 
									{% endif %}
									{% if form.model.data %}
										<input type='text' name='model' class='form-control right-half-form' placeholder='Model' value='{{form.model.data}}'/>
									{% else %}
										<input type='text' name='model' class='form-control right-half-form' placeholder='Model'/>
									{% endif %}
								</div>
								<div class='row mini-margin-top'>
									{% if form.min_year.data %}
										<input type='text' name='min_year' class='form-control left-half-form' placeholder='Min Year' value='{{form.min_year.data}}'/>
									{% else %}
										<input type='text' name='min_year' class='form-control left-half-form' placeholder='Min Year'/>
									{% endif %}
									{% if form.max_year.data %}
										<input type='text' name='max_year' class='form-control right-half-form' placeholder='Max Year' value='{{form.max_year.data}}'/>
									{% else %}
										<input type='text' name='max_year' class='form-control right-half-form' placeholder='Max Year'/>
									{% endif %}
								</div>
								<div class='row mini-margin-top'>
									{% if form.min_mileage.data %}
										<input type='text' name='min_mileage' class='form-control left-half-form' placeholder='Min Mileage' value='{{form.min_mileage.data}}'/>
									{% else %}
										<input type='text' name='min_mileage' class='form-control left-half-form' placeholder='Min Mileage'/>
									{% endif %}
									{% if form.max_mileage.data %}
										<input type='text' name='max_mileage' class='form-control right-half-form' placeholder='Max Mileage' value='{{form.max_mileage.data}}'/>
									{% else %}
										<input type='text' name='max_mileage' class='form-control right-half-form' placeholder='Max Mileage'/>
									{% endif %}
								</div>
								<div class='row mini-margin-top'>
									<select name='color' class='form-control left-half-form'>
										{% if form.color.data %}

											{% for item in AUTO_COLOR_TYPE %}
												{% if form.color.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Color
											</option>

											{% for item in AUTO_COLOR_TYPE %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}

									</select>
									<select name='title_status' class='form-control right-half-form'>
										{% if form.title_status.data %}

											{% for item in AUTO_TITLE_STATUS %}
												{% if form.title_status.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Title
											</option>

											{% for item in AUTO_TITLE_STATUS %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
								</div>
								<div class='row mini-margin-top'>
									<select name='body_type' class='form-control left-half-form'>
										{% if form.body_type.data %}

											{% for item in AUTO_BODY_TYPE %}
												{% if form.body_type.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Body Type
											</option>

											{% for item in AUTO_BODY_TYPE %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
									<select name='tranmission' class='form-control right-half-form'>
										{% if form.transmission.data %}

											{% for item in AUTO_TRANSMISSION %}
												{% if form.transmission.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Transmission
											</option>

											{% for item in AUTO_TRANSMISSION %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
								</div>
								<div class='row mini-margin-top'>
									<select name='cylinder' class='form-control left-half-form'>
										{% if form.cylinder.data %}

											{% for item in AUTO_CYLINDER_TYPE %}
												{% if form.cylinder.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Cylinder
											</option>

											{% for item in AUTO_CYLINDER_TYPE %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
									<select name='fuel' class='form-control right-half-form'>
										{% if form.fuel.data %}

											{% for item in AUTO_FUEL_TYPE %}
												{% if form.fuel.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Fuel
											</option>

											{% for item in AUTO_FUEL_TYPE %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
								</div>
								
							</div>
						</div>

						{% if form.category.data == "housing" %}
						<div id="housing_filter_section" class='additional-filter'>
						{% else %}
						<div id="housing_filter_section" class='additional-filter hidden'>
						{% endif %}
							<div class='form-group'>
								<label>Housing Detail</label>
								<div class='row'>
									{% if form.min_area.data %}
										<input type='text' name='min_area' class='form-control left-half-form' placeholder='Min Square Feet' value='{{form.min_area.data}}'/>
									{% else %}
										<input type='text' name='min_area' class='form-control left-half-form' placeholder='Min Square Feet'/>
									{% endif %}
									{% if form.max_area.data %}
										<input type='text' name='max_area' class='form-control right-half-form' placeholder='Max Square Feet' value='{{form.max_area.data}}'/>
									{% else %}
										<input type='text' name='max_area' class='form-control right-half-form' placeholder='Max Square Feet'/>
									{% endif %}
								</div>

								<div class='row mini-margin-top'>
									<select name='num_bedroom' class='form-control left-half-form'>
										{% if form.num_bedroom.data %}

											{% for item in HOUSING_NUM_BEDROOM %}
												{% if form.num_bedroom.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												# Bedroom
											</option>

											{% for item in HOUSING_NUM_BEDROOM %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>


									<select name='num_bathroom' class='form-control right-half-form'>
										{% if form.num_bathroom.data %}

											{% for item in HOUSING_NUM_BATHROOM %}
												{% if form.num_bathroom.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												# Bathroom
											</option>

											{% for item in HOUSING_NUM_BATHROOM %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
								</div>
								<div class='row mini-margin-top'>
									<select name='is_allow_cat' class='form-control left-half-form'>
										{% if form.is_allow_cat.data %}

											{% if form.is_allow_cat.data == "1" %}
												<option value="1" selected>
													Allow Cat
												</option>
												<option value="0">
													Not Allow Cat
												</option>
											{% elif form.is_allow_cat.data == "0" %}
												<option value="1">
													Allow Cat
												</option>
												<option value="0" selected>
													Not Allow Cat
												</option>
											{% else %}
												<option value="1">
													Allow Cat
												</option>
												<option value="0">
													Not Allow Cat
												</option>
											{% endif %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Cat Ok
											</option>
											<option value="1">
												Allow Cat
											</option>
											<option value="0">
												Not Allow Cat
											</option>

										{% endif %}
									</select>
									<select name='is_allow_dog' class='form-control right-half-form'>
										{% if form.is_allow_dog.data %}

											{% if form.is_allow_dog.data == "1" %}
												<option value="1" selected>
													Allow Dog
												</option>
												<option value="0">
													Not Allow Dog
												</option>
											{% elif form.is_allow_dog.data == "0" %}
												<option value="1">
													Allow Dog
												</option>
												<option value="0" selected>
													Not Allow Dog
												</option>
											{% else %}
												<option value="1">
													Allow Dog
												</option>
												<option value="0">
													Not Allow Dog
												</option>
											{% endif %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Dog Ok
											</option>
											<option value="1">
												Allow Dog
											</option>
											<option value="0">
												Not Allow Dog
											</option>

										{% endif %}
									</select>
								</div>
								<div class='row mini-margin-top'>
									<select name='housing_type' class='form-control'>
										{% if form.housing_type.data %}

											{% for item in HOUSING_TYPE %}
												{% if form.housing_type.data == item.0 %}
													<option value="{{item.0}}" selected>
														{{item.1}}
													</option>
												{% else %}
													<option value="{{item.0}}">
														{{item.1}}
													</option>
												{% endif %}
											{% endfor %}

											<option value="">All</option>
											
										{% else %}
											<option value="" disabled selected>
												Housing Type
											</option>

											{% for item in HOUSING_TYPE %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endfor %}
											<option value="">All</option>

										{% endif %}
									</select>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<label>Condition</label>
							<div class='row'>
								{{form.condition}}
							</div>
						</div>

						{% if user_login %}
							{% if user_login.userprofile.credential.get_credential() == CREDENTIAL_PROFESSIONAL or user_login.userprofile.credential.get_credential() == CREDENTIAL_PROFESSIONAL_CONNECTION %}
								<div class='form-group'>
									<label>Company</label>
									<div class='row'>
										{{form.company}}
									</div>
								</div>
							{% endif %}
						{% endif %}

						<div class='form-group'>
							<label>Price Range</label>
							<div class='row'>	
								{{form.min_price}}
								{{form.max_price}}
							</div>
						</div>

						<div class='form-group row'>
							<label>Location & Range</label>
							<div class='row'>
								<input type='text' class='form-control left-half-form' id='search_location' name="location" value="{{search_location}}">
								<input type='hidden' name='lat' value='{{search_lat}}'/>
                				<input type='hidden' name='lng' value='{{search_lng}}'/>
                				<input type='hidden' name='location' value='{{search_location}}'/>
							
								{% if form.distance_range.data %}
									<select class="form-control right-half-form" id="id_distance_range" name="distance_range" value="{{form.distance_range.data}}">
										{% for item in distance_range %}
											{% if item.0|int() == form.distance_range.data|int() %}
												<option value="{{item.0}}" selected="selected">{{item.1}}</option>
											{% else %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endif %}
										{% endfor %}
									</select>
								{% else %}
									<select class="form-control right-half-form" id="id_distance_range" name="distance_range" value="{{DEFAULT_DISTANCE_RANGE}}">
										{% for item in distance_range %}
											{% if item.0|int() == DEFAULT_DISTANCE_RANGE|int() %}
												<option value="{{item.0}}" selected="selected">{{item.1}}</option>
											{% else %}
												<option value="{{item.0}}">{{item.1}}</option>
											{% endif %}
										{% endfor %}
									</select>
								{% endif %}
							</div>
						</div>

						<input type='submit' class='btn btn-primary btn-block' value="Search"/>
					</form>
				</div>
			</div>
		</div>
		<div id="search_result_section" class='col-md-9'>
			<div id="result_summary_section" class='panel panel-default'>
				<div class='panel-heading'>
					<div class='row'>
						<div class='pull-left'>
							{{object_list|length}} posts found {% if form.distance_range.data %} {{form.distance_range.data}} miles {% else %} {{DEFAULT_DISTANCE_RANGE}} miles {% endif %} {% if search_location %} around {{search_location}} {% endif %} {% if query %} for "{{query}}" {% endif %}
						</div>
					</div>
				</div>
			</div>
			<ul class='search-post-list'>
				{% if object_list %}
					<li class='row page-responsive medium-margin-bottom'>
						<div class='col-md-3 col-xs-3'>
		    				<span class='bold'>Post</span>
		    			</div>
		    			<div class='col-md-3 col-xs-3'>
		    				<span class='bold'>Title</span>
		    			</div>
		    			<div class='col-md-3 col-xs-3'>
		    				<span class='bold'>From</span>
		    			</div>
		    			<div class='col-md-3 col-xs-3'>
		    				<span class='bold'>Price</span>
		    			</div>
					</li>
		            {% for result in object_list %}
		            	{% if result.object %}
			                <li class='row search-post-item page-normal'>
			                	<div class='post-item-picture pull-left'>
			                		<a href="/post/{{result.object.unique_id}}" class='thumbnail'>
				                	{% if result.object.main_photo %}
										<img class='lazy post-image' data-original='{{get_image_url(result.object.main_photo.unique_id,80,80,"fit")}}'/>
									{% else %}
										<img src='holder.js/80x80?theme=gray&text=No Image' class='holder-image'/>
									{% endif %}
									</a>
			                	</div>
			                	<div class='post-item-info col-md-10 pull-left'>
			                		<div class='post-title row'>
			                			<a href="/post/{{result.object.unique_id}}">
			                				{{ result.object.title }} 
		                					{% if result.object.postal_code %}
		                						({{result.object.postal_code}})
		                					{% endif %}
			                			</a>
			                		</div>
			                		<div class='post-content row'>
			                			{{shorten_content(result.object.content,100)}}
			                		</div>
			                		<div class='post-additional-info row'>
			                			<span class='post-owner'>
			                				from <span class='bold'>{{result.object.user_create.userprofile.credential.get_display_credential()}}</span>
			                			</span>
			                			<span class='post-location'>
			                				({{result.object.location.city}}, {{result.object.location.state}} {{result.object.location.postal_code}})
			                			</span>
			                		</div>
			                	</div>
			                	<div class='post-date'>
	                				{% if result.object.last_edit_time %}
										{{result.object.last_edit_time|display_elapse_time}}
									{% else %}
										{{result.object.create_time|display_elapse_time}}
									{% endif %}
	                			</div>
			                	<div class='post-item-price'>
			                    	{% if result.object.price %}
										{{result.object.price}}
									{% else %}
										Negotiable
									{% endif %}
			                    </div>
			                </li>
			                <li class='row search-post-item page-responsive'>
			                	<div class='post-item-picture col-md-3 col-xs-3'>
			                		<a href="/post/{{result.object.unique_id}}" class='thumbnail'>
				                	{% if result.object.main_photo %}
										<img class='lazy post-image' data-original='{{get_image_url(result.object.main_photo.unique_id,50,50,"fit")}}'/>
									{% else %}
										<img src='holder.js/50x50?theme=gray&text=No Image' class='holder-image'/>
									{% endif %}
									</a>
			                	</div>
			                	<div class='post-item-info col-md-3 col-xs-3'>
			                		<div class='post-title row'>
			                			<a href="/post/{{result.object.unique_id}}">
			                				{{ result.object.title }} 
		                					{% if result.object.postal_code %}
		                						({{result.object.postal_code}})
		                					{% endif %}
			                			</a>
			                		</div>
			                		<div class='post-location row'>
		                				({{result.object.location.city}}, {{result.object.location.state}} {{result.object.location.postal_code}})
		                			</div>
			                	</div>
			                	<div class='post-owner col-md-3 col-xs-3'>
		                			{{result.object.user_create.userprofile.credential.get_display_credential()}}
		                		</div>
			                	<div class='post-item-price col-md-3 col-xs-3'>
			                    	{% if result.object.price %}
										{{result.object.price}}
									{% else %}
										N/A
									{% endif %}
			                    </div>
			                </li>
		                {% endif %}
		            {% endfor %}
	            {% else %}
	                <li class='row empty-item'>No results found.</li>
	            {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}