#request_message {
	margin-left: auto;
	margin-right: auto;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #cacaca;
	min-height: 30px;
	border-radius:0px;
	margin-bottom:0px;
	margin-top:0px;
	min-height: 30px;
	z-index:1001;
}


#alert_message {
	display:none;
	top:0px;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	border: 1px solid #cacaca;
	min-height: 30px;
	z-index:1001;
	font-weight:bold;
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:0px;
	margin-top:0px;
}

#alert_message.alert-normal {
	background-color:white;
}

#error_section {
	text-align:center;
   	padding-top:30px;
   	padding-bottom:30px;
}

#error_picture {
	width:700px;
}


#scroll_top_btn {
	position: fixed;
	bottom: 10px;
	right: 50px;
	z-index:100;
}

#scroll_top_btn .wrapper {
	padding: 6px;
	background-color: gray;
	border-radius: 5px;
	border: 1px solid white;
}
