ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

textarea {
	resize: vertical;
}

a {
	cursor: pointer;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

img.media-object {
    width:16px;
    width:16px;
}

.clear {
	clear: both;
}

.scroll-bar {
	overflow: hidden;
}

.scroll-bar:hover {
	overflow-y: auto;
}

.scroll-bar::-webkit-scrollbar {
	width: 12px;
}

.scroll-bar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll-bar::-webkit-scrollbar-thumb {
	height: 20px;
	background: rgba(0,0,0,0.3);
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.row {
	margin-left:0px;
	margin-right:0px;
}

.error-field {
	color: red;
	font-weight: bold;
}

.error,
.error-notice {
	color: #a94442;
}

.default-cursor {
	cursor: default;
}

.pointer-cursor {
	cursor: pointer
}

.no-padding {
	padding:0px;
}

.no-padding-top {
	padding-top: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.no-padding-bottom {
	padding-bottom: 0px;
}

.mini-padding {
	padding:5px;
}

.mini-padding-left {
	padding-left:5px;
}

.mini-padding-right {
	padding-right: 5px;
}

.mini-padding-top {
	padding-top: 5px;
}

.mini-padding-bottom {
	padding-bottom: 5px;
}

.small-padding {
	padding:10px;
}

.small-padding-left {
	padding-left:10px;
}

.small-padding-right {
	padding-right: 10px;
}

.small-padding-top {
	padding-top:10px;
}

.small-padding-bottom {
	padding-bottom:10px;
}

.normal-padding-left {
	padding-left:15px;
}

.normal-padding-right {
	padding-right:15px;
}

.normal-padding-top {
	padding-top:15px;
}

.normal-padding-bottom {
	padding-bottom:15px;
}

.medium-padding {
	padding: 20px;
}

.medium-padding-top {
	padding-top:20px;
}

.medium-padding-bottom {
	padding-bottom:20px;
}

.medium-padding-right {
	padding-right:20px;
}

.medium-padding-left {
	padding-left:20px;
}

.large-padding {
	padding:30px;
}

.large-padding-left {
	padding-left:30px;
}

.large-padding-right {
	padding-right:30px;
}

.large-padding-top {
	padding-top:30px;
}

.large-padding-bottom {
	padding-bottom:30px;
}

.extra-large-padding {
	padding: 40px;
}

.extra-large-padding-left {
	padding-left: 40px;
}

.extra-large-padding-right {
	padding-right:40px;
}

.extra-large-padding-top {
	padding-top:40px;
}

.extra-large-padding-bottom {
	padding-bottom:40px;
}

.no-margin {
	margin: 0px;
}

.no-margin-top {
	margin-top:0px;
}

.no-margin-right {
	margin-right:0px;
}

.no-margin-left {
	margin-left: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.mini-margin {
	margin:5px;
}

.mini-margin-left {
	margin-left:5px;
}

.mini-margin-right {
	margin-right: 5px;
}

.mini-margin-top {
	margin-top: 5px;
}

.mini-margin-bottom {
	margin-bottom: 5px;
}

.small-margin {
	margin:10px;
}

.small-margin-left {
	margin-left:10px;
}

.small-margin-right {
	margin-right: 10px;
}

.small-margin-top {
	margin-top:10px;
}

.small-margin-bottom {
	margin-bottom:10px;
}

.normal-margin-left {
	margin-left:15px;
}

.normal-margin-right {
	margin-right:15px;
}

.normal-margin-top {
	margin-top:15px;
}

.normal-margin-bottom {
	margin-bottom:15px;
}

.medium-margin {
	margin:20px;
}

.medium-margin-top {
	margin-top:20px;
}

.medium-margin-bottom {
	margin-bottom:20px;
}

.medium-margin-right {
	margin-right:20px;
}

.medium-margin-left {
	margin-left:20px;
}

.large-margin {
	margin:30px;
}

.large-margin-left {
	margin-left:30px;
}

.large-margin-right {
	margin-right:30px;
}

.large-margin-top {
	margin-top:30px;
}

.large-margin-bottom {
	margin-bottom:30px;
}

.extra-large-margin {
	margin:40px;
}

.extra-large-margin-left {
	margin-left: 40px;
}

.extra-large-margin-right {
	margin-right:40px;
}

.extra-large-margin-top {
	margin-top:40px;
}

.extra-large-margin-bottom {
	margin-bottom:40px;
}

.link-color {
	color: #08c;
}

.gray-color {
	color: #808080;
}

.white-color {
	color:white;
}

.black-color {
	color: #333;
}

.danger-color {
	color: #da4f49;
}

.success-color {
	color: #5bb75b;
}

.fail-color,
.error-color {
	color: #bd362f;
}

.bold {
	font-weight:bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.border-all {
	border: 1px solid #333;
}

.border-right {
	border-right: 1px solid #333;
}

.border-left {
	border-left: 1px solid #333;
}

.border-top {
	border-top: 1px solid #333;
}

.border-bottom {
	border-bottom: 1px solid #333;
}

.no-border {
	border: none;
}

.mini-text {
	font-size: 10px;
}

.small-text {
	font-size: 11px;
}

.normal-text {
	font-size: 12px;
}

.medium-text {
	font-size:14px;
}

.mid-large-text {
	font-size:16px;
}

.large-text {
	font-size: 18px;
}

.extra-large-text {
	font-size: 24px;
}

.header-size-text {
	font-size:32px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-justify {
	text-align: justify;
}

.div-center {
	display: table;
	margin:0 auto;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.pos-fixed {
	position: fixed;
}

input[type='text'],
input[type='password'],
select  {
	border-radius:2px;
	padding-left:10px;
}

select {
	background-color: white;
}

input:focus {
	outline:none;
}

select.form-control,
input.form-control {
	height:30px;
	font-size:12px;
}

.btn-primary,
.btn-primary[disabled='disabled'],
.btn-primary[disabled='disabled']:hover{
	background-color:#F7985A;
	border: 1px solid #E29A6A;
	color: white;
}

.btn-primary:hover {
	background-color:#E29A6A;
	border: 1px solid #E29A6A;
	color: white;
}

.btn-secondary {
	background-color:#1ABDD4;
	border:1px solid #16B2C5;
	color: white;
}

.btn-secondary:hover {
	background-color:#38B6C7;
	border: 1px solid #16B2C5;
	color: white;
}

.btn-success-no-hover:hover{
	color: #ffffff;
	background-color: #5bb75b;
  	*background-color: #51a351;
  	border-color: #51a351 #51a351 #387038;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.btn-default-no-hover:hover {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

label.error {
	color: red;
}

input.error,
textarea.error,
select.error{
	border: 1px solid red;
}

.fa-2 {
	font-size: 1.5em;
}

.panel {
	/*border: 1px solid #dce0e0;*/
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.panel-default > .panel-heading {
	background-color: #eee;
}

/*#page_wrapper {
	min-height:100%;
	position:relative;
}*/
