.readmatter.footer {
  font-family: 'HelveticaNeue' !important;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: 100% 22px;
  background-size: 100% 22px;
  background-color: #333;
  /*padding: 32px 0;*/
  /*background-color: #E8E7E7;*/
}

.readmatter.footer a {
  color: white;
}

.readmatter.footer .container {
  color: white;
  padding-top:15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .readmatter.footer.page-normal {
    height:50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .readmatter.footer.page-responsive {
    height:80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .readmatter.footer.page-responsive  > .container > .footer-row-1 {
    display:table;
    margin: 0px auto 10px auto;
  }


}






