#header {
  border-radius:0px;
  border-width: 0 0 1px;
  margin: 0px;
  border-radius: 0px;
  /*border-bottom:2px solid rgba(0,0,0,0.08);*/
  /*background-color:white;*/
  background-color: #f8f8f8;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.25);
}

#header .navbar-toggle {
  margin-right:25px;
}

#header .container-fluid {
  padding-left:0px;
  padding-right:0px;
}

#header .initial-circle{
  width: 23px;
  height: 21px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #F7985A;
  background-color: rgba(247, 152, 90, 0.7);
  color: white;
}

#header .navbar-right .header-item {
  border-left: 1px solid #dce0e0;
}

#header .message-icon {
  margin-top:1px;
}

#header #user_profile_menu {
  margin:0px;
  padding:0px;
  width: 250px;
}

#header #user_profile_menu > li > a {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header #user_profile_menu > li {
  border-bottom:1px solid #dce0e0;
}

#header #user_profile_menu > li.last {
  border-bottom:0px;
}

#header .navbar-brand {
  color: #F7985A;
  font-size:28px;
  padding-left:30px;
  height:51px;
  border-right: 1px solid #dce0e0;
}

#header .fa {
  font-size:1.1em;
}

#header #search_form {
  margin:0px;
  height:51px;
  line-height:51px;
}

#header #search_btn {
  border:1px solid #ccc;
  background-color:white;
  margin-left:-4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #333;
}

#header #search_location {
  margin-left: -4px;
  border-radius: 0px;
  border-right:none;
}

#header #search_query {
  width: 200px;
  border-right:none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#header #search_location {
  width: 100px;
}

#header #search_form input[type='text']:focus {
  outline:none;
  border:1px solid #ccc;
  border-right:none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#header .new-messages-count {
  margin-left:2px;
  font-style: normal
}


@media screen and (max-width: 767px) {
  #header #header_navbar_collapse {
      padding-left:40px;
      padding-right:40px;
  }

  #header #header_navbar_collapse #search_form {
    border:0px;
  }

  #header #header_navbar_collapse #search_form #search_query,
  #header #header_navbar_collapse #search_form #search_location,
  #header #header_navbar_collapse #search_form #search_btn {
    float:left;
  }

  #header #header_navbar_collapse #search_form #search_query {
    width:50%;
  }

  #header #header_navbar_collapse #search_form #search_location {
    width:30%;
  }

  #header #header_navbar_collapse .navbar-right .header-item {
    border-left:0px;
  }

  #header .navbar-header .navbar-brand {
    border-right:0px;
  }
}
