/*@charset "UTF-8";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
	min-width:1100px;
	overflow:scroll;
}

body {
	z-index: -2;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    background-color: rgba(245, 245, 245, 0.4);
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

/*.overlay {
  background-repeat: no-repeat;
  background-image: url('../../resources/images/demo/overlay.jpg');
  width: 1201px;
  height: 2462px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  display: none;
}
*/

html {
  height: 100%;
  position: relative;
}

body {
  color: #636363 !important;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  background-color: rgba(245, 245, 245, 0.4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    padding-bottom: 50px;
  }

  .page-normal {
    display:block;
  }

  .page-responsive {
    display:none;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-bottom: 110px;
  }

  .page-normal {
    display:none;
  }

  .page-responsive {
    display:block;
  }
}

