<div class="modal fade" id="contact_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Message</h4>
            </div>
            <div class="modal-body">
                <p><span class='bold'>To:</span> Mr/Mrs {{post.user_create.userprofile.initial|initial}} ({{post.user_create.userprofile.credential.get_display_credential()}})</p>
                <textarea id="contact_post_input" class="form-control" rows='5'></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="send_message_final_btn" class="btn btn-primary btn-sm" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>