<div class="modal fade" id="transaction_feedback_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="transaction_feedback_form" method="POST" action='/post/complete'>{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Transaction Feedback</h4>
                </div>
                <div class="modal-body" id='transaction_feedback_section'>
                    
                </div>
                <div class="modal-footer">
                    <input type='hidden' id="complete_post_unique_id" name="post_unique_id" value="{{post.unique_id}}"/>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" id="transaction_feedback_final_btn" class="btn btn-primary btn-sm">
                        Complete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>