<div class='row'>
	{% with pending_connection_requests=user.userprofile.get_pending_connection_requests() %}
	{% if pending_connection_requests %}
		<table class='table table-hover'>
    		<thead>
    			<tr>
		          	<th>From User</th>
		          	<th>Claimed Relationship</th>
		          	<th>Message</th>
		          	<th class='align-center'>Action</th>
		        </tr>	
    		</thead>
    		<tbody>
				{% for request in pending_connection_requests %}
					<tr>
						<td>{{request.request_user.email}}</td>
						<td>{{request.connection_relationship|title}}</td>
						<td>{{request.message}}</td>
						<td class='align-center'>
							<a class='small-margin-right' onclick='approveConnectionRequest("{{request.unique_id}}")'>Approve</a>
			          		<a onclick='rejectConnectionRequest("{{request.unique_id}}")'>Reject</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h5 class='align-center medium-margin-top medium-margin-bottom'>You don't have any connection request</h5>
	{% endif %}
	{% endwith %}
</div>	