{% if posts %}
	<div class='row page-normal'>
		<table class='table table-hover'>
			<thead>
				<tr>
					<th>Post</th>
		          	<th>Title</th>
		          	<th class='align-center'>Price</th>
		          	<th class='align-center'>Category</th>
		          	<th class='align-center'>Status</th>
		          	<th class='align-center'>Action</th>
		        </tr>	
			</thead>
			<tbody>
				{% for post in posts %}
	    			<tr>
	    				<td class='post-picture'>
	    					{% if post.main_photo %}
								<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,50,50,"fit")}}' width='50' height='50'/>
							{% else %}
								<img src='holder.js/50x50?theme=gray&text=No Image' class='holder-image'/>
							{% endif %}
	    				</td>
			          	<td class='post-title'>
			          		{% if post.post_status == "expired" %}
			          			{{post.title|title}}
			          		{% else %}
			          			<a href='/post/{{post.unique_id}}'>
			          				{{post.title|title}}
			          			</a>
			          		{% endif %}
			          	</td>
			          	<td class='align-center'>
			          		{% if post.price %}
			          			{{post.price}}
			          		{% else %}
			          			N/A
			          		{% endif %}
			          	</td>
			          	<td class='align-center'>
			          		{{post.display_category}} 
			          		<br>
			          		({{post.display_subcategory}})
			          	</td>
			          	<td class='align-center'>
			          		<span class='bold'>{{post.post_status|upper}}</span>
			          	</td>
			          	<td class='align-center'>
			          		{% if post.post_status == "active" %}
			          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
			          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
			          		{% elif post.post_status == "expired" %}
			          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Repost</a>
			          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
			          		{% elif post.post_status == "sold" %}
			          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
			          		{% elif post.post_status == 'pending' %}
			          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Preview</a>
			          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
			          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
			          		{% endif %}
			          	</td>
			        </tr>
		        {% endfor %}
			</tbody>
		</table>	
	</div>

	<div class='row page-responsive'>
		<div class='row'>
			<div class='col-md-3 col-xs-3'>
				<span class='bold'>Post</span>
			</div>
			<div class='col-md-3 col-xs-3'>
				<span class='bold'>Title</span>
			</div>
			<div class='col-md-3 col-xs-3'>
				<span class='bold'>Price</span>
			</div>
			<div class='col-md-3 col-xs-3'>
				<span class='bold'>Action</span>
			</div>
		</div>
		{% for post in posts %}
			<div class='row'>
				<div class='post-picture col-md-3 col-xs-3'>
					{% if post.main_photo %}
						<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,40,40,"fit")}}' width='40' height='40'/>
					{% else %}
						<img src='holder.js/40x40?theme=gray&text=No Image' class='holder-image'/>
					{% endif %}
				</div>
				<div class='post-title col-md-3 col-xs-3'>
					<div class='row'>
	    				<a href='/post/{{post.unique_id}}'>
	          				{{shorten_content(post.title|title,20)}}
	          			</a>
	      			</div>
	      			<div class='row'>
	      				<span class='bold'>({{post.post_status|upper}})</span>
	      			</div>
				</div>
				<div class='col-md-3 col-xs-3'>
					<div class='row'>
						{% if post.price %}
		          			{{post.price}}
		          		{% else %}
		          			N/A
		          		{% endif %}
					</div>
				</div>
				<div class='col-md-3 col-xs-3'>
					{% if post.post_status == "active" %}
	          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
	          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
	          		{% elif post.post_status == "expired" %}
	          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Repost</a>
	          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
	          		{% elif post.post_status == "sold" %}
	          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
	          		{% elif post.post_status == 'pending' %}
	          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Preview</a>
	          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
	          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
	          		{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class='row small-margin-top small-margin-bottom'>
		<div class='align-center'>
			<h5>You have no posts</h5>
		</div>
	</div>
{% endif %}
