<div id='request_message' class="alert alert-danger" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>An error occured when processing your request. Please try again</span>
</div>