<div id='request_message' class="alert alert-success" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>Congratulations! You have sold your post successfully</span>
</div>