<div id='request_message' class="alert alert-warning" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>Your account is not allowed to post. Please get your account verified by getting approved from professional</span>
</div>