<div id='request_message' class="alert alert-danger" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>You have deleted your ad successfully</span>
</div>