{% extends base_template %}

{% block main_section %}

	<div id="user_dashboard_section">
	
		<div id="dashboard_nav" class='page-normal'>
			<div class='container-fluid'>
				<div class='col-xs-1'></div>
				<ul class="nav nav-tabs">
			    	<li>
			    		<a class='subnav-item' href="{{url('post_dashboard')}}" aria-selected="{% if page_type == 'member_post' %}true{% else %}false{% endif %}">Post</a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href="{{url('message_dashboard')}}" aria-selected="{% if page_type == 'member_message' %}true{% else %}false{% endif %}">Message <span class='new-messages-count'>{% if new_selling_messages_count + new_buying_messages_count > 0 %} ({{new_selling_messages_count + new_buying_messages_count}}) {% endif %}</span> </a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href="{{url('account_credential_dashboard')}}" aria-selected="{% if page_type == 'member_account_credential' %}true{% else %}false{% endif %}">Account Credential</a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href="{{url('settings_dashboard')}}" aria-selected="{% if page_type == 'member_settings' %}true{% else %}false{% endif %}">Settings</a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href='{{url("notification_dashboard")}}' aria-selected="{% if page_type == 'member_notification' %}true{% else %}false{% endif %}">Notification <span class='new-notifications-count'>{% if new_notifications_count > 0 %} ({{new_notifications_count}}) {% endif %}</span></a>
			    	</li>
			  	</ul>
			  	<div class='col-xs-1'></div>
		  	</div> 
		</div>

		<div id="dashboard_nav_responsive" class='page-responsive'>
			<div class="navbar">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboard_navbar_collapse">
	            	Dashboard
	            </button>
	        </div>

	        <div class="collapse navbar-collapse" id="dashboard_navbar_collapse">

	            <ul class="nav navbar-nav">
                    <li>
			    		<a class='subnav-item' href="{{url('post_dashboard')}}" aria-selected="{% if page_type == 'member_post' %}true{% else %}false{% endif %}">Post</a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href="{{url('message_dashboard')}}" aria-selected="{% if page_type == 'member_message' %}true{% else %}false{% endif %}">Message <span class='new-messages-count'>{% if new_selling_messages_count + new_buying_messages_count > 0 %} ({{new_selling_messages_count + new_buying_messages_count}}) {% endif %}</span> </a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href="{{url('account_credential_dashboard')}}" aria-selected="{% if page_type == 'member_account_credential' %}true{% else %}false{% endif %}">Account Credential</a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href="{{url('settings_dashboard')}}" aria-selected="{% if page_type == 'member_settings' %}true{% else %}false{% endif %}">Settings</a>
			    	</li>
			    	<li>
			    		<a class='subnav-item' href='{{url("notification_dashboard")}}' aria-selected="{% if page_type == 'member_notification' %}true{% else %}false{% endif %}">Notification <span class='new-notifications-count'>{% if new_notifications_count > 0 %} ({{new_notifications_count}}) {% endif %}</span></a>
			    	</li>
	           	</ul>
	        </div>
		</div>



		{% block dashboard_content %}

		{% endblock %}

	</div>

{% endblock %}

{% block hidden %}
	<input type='hidden' id="new_notifications_count" value="{{new_notifications_count}}"/>
{% endblock %}
