{% extends app_base_template %}

{% block dashboard_content %}
<div id="dashboard_notification" class='container large-margin-top large-margin-bottom'>
	<div class='row'>
		<div class='panel panel-default'>
			<div class='panel-heading row'>
				<h3 class='panel-title pull-left'>Notification</h3>
				{% with new_notifications_count=user.userprofile.get_new_notifications_count() %}
					{% if new_notifications_count %}
						<a class='pull-right small-margin-top' id='clear_all_notification_btn'>Clear All</a>
					{% endif %}
				{% endwith %}
			</div>
			<div class='panel-body'>
				{% with notifications=user.userprofile.get_notifications() %}
				<div class='row medium-margin-top medium-margin-bottom'>
					{% if notifications %}
    				<ul class='notification-list list-group'>
    					{% for notification in notifications %}
    						<li class="row list-group-item notification-item {% if loop.last %} last {% elif loop.first %} first {% endif %} {% if notification.status == NEW %} new {% endif %}" data-unique-id="{{notification.unique_id}}" onclick="clearNotification('{{notification.unique_id}}')">
    							<div class='page-normal'>
    								<span class='pull-left notification-content'>{{notification.content}}</span>
    								<span class='pull-right'>{{notification.create_time|display_elapse_time}}</span>
    							</div>
    							<div class='page-responsive'>
    								<div class='row'> 
    									<span class='notification-content'>{{notification.content}}</span>
    								</div>
    								<div class='row small-margin-top'>
    									<span class='pull-right'>{{notification.create_time|display_elapse_time}}</span>
    								</div>
    							</div>
    						</li>
    					{% endfor %}
    				</ul>
    				{% else %}
    					<h5 id="no_notification_section" class='align-center'>You don't have any notification</h5>
    				{% endif %}
    			</div>
    			{% endwith %}
			</div>
		</div>
	</div>
</div>
{% endblock %}