{% extends app_base_template %}

{% block dashboard_content %}

<div id="dashboard_post" class='container large-margin-top large-margin-bottom'>
	<div class='row'>
		<div class='col-md-3'>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Manage Post</h3>
				</div>
				<ul class="list-group" id="post_manage_list">
					<li class="list-group-item active" data-value='listing_posts'>
						Listing Posts
					</li>
	  				<li class="list-group-item" data-value='watching_posts'>
	  					Watching Posts
	  				</li>
				</ul>
			</div>
		</div>

		<div class='col-md-9'>
			<div class="panel panel-default post-manage-content" id="listing_posts_section">
				{% with user_posts=user.userprofile.get_listing_posts() %}
				<div class="panel-heading row {% if user_posts %} have-post {% endif %}">

					<h3 class="panel-title pull-left">
						Listing Post
					</h3>
					{% if user_posts %}
						<div class='pull-right medium-text'>
							<span class='bold pull-left mini-margin-right'>Status:</span>
							<div class="btn-group small-margin-left">
							  	<a id="filterStatusDropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						          	Active&nbsp;
						          	<span class="caret"></span>
						        </a>
							  	<ul class="dropdown-menu">
							    	<li><a onclick='filterPostByStatus("active")'>Active</a></li>
							    	<li><a onclick='filterPostByStatus("pending")'>Pending</a></li>
							    	<li><a onclick='filterPostByStatus("sold")'>Sold</a></li>
							    	<li><a onclick='filterPostByStatus("expired")'>Expired</a></li>
							  	</ul>
							</div>
						</div>
					{% endif %}
				</div>
				<div class='panel-body'>
					{% if user_posts %}
						<div class='row page-normal'>
				    		<table class='table table-hover'>
					    		<thead>
					    			<tr>
					    				<th>Post</th>
							          	<th>Title</th>
							          	<th class='align-center'>Price</th>
							          	<th class='align-center'>Category</th>
							          	<th class='align-center'>Status</th>
							          	<th class='align-center'>Action</th>
							        </tr>	
					    		</thead>
					    		<tbody>
					    			{% for post in user_posts %}
						    			<tr>
						    				<td class='post-picture'>
						    					{% if post.main_photo %}
													<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,100,100,"fit")}}' width='50' height='50'/>
												{% else %}
													<img src='holder.js/50x50?theme=gray&text=No Image' class='holder-image'/>
												{% endif %}
						    				</td>
								          	<td class='post-title'>
								          		{% if post.post_status == "expired" %}
								          			{{post.title|title}}
								          		{% else %}
								          			<a href='/post/{{post.unique_id}}'>
								          				{{post.title|title}}
								          			</a>
								          		{% endif %}
								          	</td>
								          	<td class='align-center'>
								          		{% if post.price %}
								          			{{post.price}}
								          		{% else %}
								          			N/A
								          		{% endif %}
								          	</td>
								          	<td class='align-center'>
								          		{{post.get_display_category()}} 
								          		<br>
								          		({{post.get_display_subcategory()}})
								          	</td>
								          	<td class='align-center'>
								          		<span class='bold'>{{post.post_status|upper}}</span>
								          	</td>
								          	<td class='align-center'>
								          		{% if post.post_status == "active" %}
								          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
								          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
								          		{% elif post.post_status == "expired" %}
								          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Repost</a>
								          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
								          		{% elif post.post_status == "sold" %}
								          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
								          		{% elif post.post_status == 'pending' %}
								          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Preview</a>
								          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
								          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
								          		{% endif %}
								          	</td>
								        </tr>
							        {% endfor %}
					    		</tbody>
				    		</table>	
				    	</div>

				    	<div class='row page-responsive'>
				    		<div class='row'>
				    			<div class='col-md-3 col-xs-3'>
				    				<span class='bold'>Post</span>
				    			</div>
				    			<div class='col-md-3 col-xs-3'>
				    				<span class='bold'>Title</span>
				    			</div>
				    			<div class='col-md-3 col-xs-3'>
				    				<span class='bold'>Price</span>
				    			</div>
				    			<div class='col-md-3 col-xs-3'>
				    				<span class='bold'>Action</span>
				    			</div>
				    		</div>
				    		{% for post in user_posts %}
				    			<div class='row'>
					    			<div class='post-picture col-md-3 col-xs-3'>
					    				{% if post.main_photo %}
											<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,80,80,"fit")}}' width='40' height='40'/>
										{% else %}
											<img src='holder.js/40x40?theme=gray&text=No Image' class='holder-image'/>
										{% endif %}
					    			</div>
					    			<div class='post-title col-md-3 col-xs-3'>
					    				<div class='row'>
						    				<a href='/post/{{post.unique_id}}'>
						          				{{shorten_content(post.title|title,20)}}
						          			</a>
					          			</div>
					          			<div class='row'>
					          				<span class='bold'>({{post.post_status|upper}})</span>
					          			</div>
					    			</div>
					    			<div class='col-md-3 col-xs-3'>
					    				<div class='row'>
					    					{% if post.price %}
							          			{{post.price}}
							          		{% else %}
							          			N/A
							          		{% endif %}
					    				</div>
					    			</div>
					    			<div class='col-md-3 col-xs-3'>
					    				{% if post.post_status == "active" %}
						          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
						          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
						          		{% elif post.post_status == "expired" %}
						          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Repost</a>
						          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
						          		{% elif post.post_status == "sold" %}
						          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
						          		{% elif post.post_status == 'pending' %}
						          			<a href="/post/{{post.unique_id}}" class='small-margin-right'>Preview</a>
						          			<a href="/post/{{post.unique_id}}/edit" class='small-margin-right'>Edit</a>
						          			<a href="#" class='delete-post-btn' data-toggle="modal" data-target="#delete_post_modal" data-backdrop='static' data-unique-id='{{post.unique_id}}'>Delete</a>
						          		{% endif %}
					    			</div>
				    			</div>
				    		{% endfor %}
				    	</div>
		    		{% else %}
		    			<div class='row small-margin-top small-margin-bottom'>
			    			<div class='align-center'>
								<h5>You have no posts</h5>
							</div>
						</div>
		    		{% endif %}
				</div>
				{% endwith %}
			</div>

			<div class='panel panel-default post-manage-content hidden' id="watching_posts_section">
				<div class='panel-heading'>
					<h3 class="panel-title">Watching Post</h3>
				</div>
				<div class='panel-body'>
					
					{% with watching_posts=user.userprofile.watching_posts.all() %}
						{% if watching_posts %}
							<div class='row page-normal'>
								<table class='table table-hover'>
						    		<thead>
						    			<tr>
								          	<th>Post</th>
								          	<th>Title</th>
								          	<th class='align-center'>From</th>
								          	<th class='align-center'>Price</th>
								          	<th class='align-center'>Category</th>
								          	<th class='align-center'>Status</th>
								        </tr>	
						    		</thead>
						    		<tbody>
						    			{% for post in watching_posts %}
						    				<tr class='watching-post-item' data-unique-id="{{post.unique_id}}">
						    					<td class='post-picture'>
							    					{% if post.main_photo %}
														<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,100,100,"fit")}}' width='50' height='50'/>
													{% else %}
														<img src='holder.js/50x50?theme=gray&text=No Image' class='holder-image'/>
													{% endif %}
						    					</td>
									          	<td class='post-title'>
									          		{% if post.post_status == "expired" %}
									          			{{post.title|title}}
									          		{% else %}
									          			<a href='/post/{{post.unique_id}}'>
									          				{{post.title|title}}
									          			</a>
									          		{% endif %}
									          	</td>
									          	<td class='align-center'> 
									          		{{post.user_create.userprofile.credential.get_display_credential()}}
									          	</td>
									          	<td class='align-center'>
									          		{% if post.price %}
									          			{{post.price}}
									          		{% else %}
									          			N/A
									          		{% endif %}
									          	</td>
									          	<td class='align-center'>
									          		{{post.get_display_category()}} 
								          			<br>
								          			({{post.get_display_subcategory()}})
									          	</td>
									          	<td class='align-center'>
									          		{{post.post_status|upper}}
									          	</td>
									        </tr>
								        {% endfor %}
						    		</tbody>
					    		</table>
					    	</div>

					    	<div class='row page-responsive'>
					    		<div class='row'>
					    			<div class='col-md-3 col-xs-3'>
					    				<span class='bold'>Post</span>
					    			</div>
					    			<div class='col-md-3 col-xs-3'>
					    				<span class='bold'>Title</span>
					    			</div>
					    			<div class='col-md-3 col-xs-3'>
					    				<span class='bold'>Price</span>
					    			</div>
					    			<div class='col-md-3 col-xs-3'>
					    				<span class='bold'>From</span>
					    			</div>
					    		</div>
					    		{% for post in watching_posts %}
					    			<div class='row'>
						    			<div class='post-picture col-md-3 col-xs-3'>
						    				{% if post.main_photo %}
												<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,80,80,"fit")}}' width='40' height='40'/>
											{% else %}
												<img src='holder.js/40x40?theme=gray&text=No Image' class='holder-image'/>
											{% endif %}
						    			</div>
						    			<div class='post-title col-md-3 col-xs-3'>
						    				<div class='row'>
							    				<a href='/post/{{post.unique_id}}'>
							          				{{shorten_content(post.title|title,20)}}
							          			</a>
						          			</div>
						          			<div class='row'>
						          				<span class='bold'>({{post.post_status|upper}})</span>
						          			</div>
						    			</div>
						    			<div class='col-md-3 col-xs-3'>
						    				<div class='row'>
						    					{% if post.price %}
								          			{{post.price}}
								          		{% else %}
								          			N/A
								          		{% endif %}
						    				</div>
						    			</div>
						    			<div class='col-md-3 col-xs-3'>
						    				{{post.user_create.userprofile.credential.get_display_credential()}}
						    			</div>
					    			</div>
					    		{% endfor %}
					    	</div>
						{% else %}
							<div class='row small-margin-top small-margin-bottom'>
								<div class='align-center'>
									<h5>You have no watching posts</h5>
								</div>
							</div>
						{% endif %}
					{% endwith %}
					
				</div>
			</div> 
		</div>
	</div>
</div>

{% endblock %}

{% block modal %}
	{% include ["sites/apps/post/modal/delete_post" + TEMPLATE_FILE_EXTENSION] %}
{% endblock %}