{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">
	<div id="instruction_section" class='row'>
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Account Type Instruction
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<b>Professional:</b> your company email. (Eligible to post)
					</li>
					<li>
						<b>Professional's Connection:</b> any email but require a professional to verify (Eligible to post)
					</li>
					<li>
						<b>Others:</b> any other emails. (Not eligible to post)
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="login_section" class='row'>
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Login to your account
			</div>
			<div class="panel-body">
				<form id="login_form" name="login_form" method="post" action="{{url('login')}}" class="form-horizontal"> {% csrf_token %}
					<input type="hidden" class='redirect-field' name='next' />
					{% if login_form.non_field_errors() %}
						<ul class='errorlist'>
					    	{% for non_field_error in login_form.non_field_errors() %}
					      		<li>{{ non_field_error }}</li>
					    	{% endfor %}
					    </ul>
					{% endif %}

					<div class="form-group">
						<div class='row'>
							<div class="col-sm-offset-3 col-sm-8 mini-margin-bottom">
								{{login_form.email.errors}}
							</div>
						</div>
						<div class='row'>
							<label class="col-sm-3 control-label">{{login_form.email.label}}</label>
							<div class="col-sm-8">
								{{login_form.email}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class='row'>
							<div class="col-sm-offset-3 col-sm-8 mini-margin-bottom">
								{{login_form.password.errors}}
							</div>
						</div>
						<div class='row'>
							<label class="col-sm-3 control-label">{{login_form.password.label}}</label>
							<div class="col-sm-8">
								{{login_form.password}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
							<button type="submit" class="btn btn-sm btn-primary">Login</button>
							<a href='{{url("reset_password")}}' class='pull-right mini-margin-top' id="forgot_password_link">Forgot Password</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="divider_section" class='div-center'>
		<h5>OR</h5>
	</div>

	<div id="signup_section" class='row'>
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Create a Mythdoor account
			</div>
			<div class="panel-body">
				<form id="signup_form" name="signup_form" method="post" action="{{url('signup')}}" class="form-horizontal">{% csrf_token %}
					<div class="form-group">
						<div class='row'>
							<div class="col-sm-offset-3 col-sm-8 mini-margin-bottom">
								{{signup_form.email.errors }}
							</div>
						</div>
						<div class='row'>
							<label class="col-sm-3 control-label">{{signup_form.email.label}}</label>
							<div class="col-sm-8">
								{{signup_form.email}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
							<button type="submit" class="btn btn-sm btn-primary">Create Account</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}