{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">
	<div id="password_reset_section" class="row">
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Reset your password
			</div>
			<div class="panel-body">
				<form id="password_reset_from_key_form" name="password_reset_from_key_form" method="post" action="{{ request.path }}" class="form-horizontal">{% csrf_token %}
				  	<div class="form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.password1.errors }}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.password1.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.password1}}
					    	</div>
				    	</div>
				  	</div>
				  	<div class="form-group">
						<div>
							<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
								{{form.password2.errors}}
							</div>
						</div>
						<div>
							<label class="col-sm-4 control-label">{{form.password2.label}}</label>
							<div class="col-sm-8">
								{{form.password2}}
							</div>
						</div>
					</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-4 col-sm-8">
				      		<button type="submit" class="btn btn-sm btn-primary">Submit</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}