{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">
	<div id="password_reset_section" class='row'>
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Reset your password
			</div>
			<div class="panel-body">
				<form id="password_reset_form" name="password_reset_form" method="post" action="{{url('reset_password')}}" class="form-horizontal">{% csrf_token %}
				  	<div class="form-group">
				  		<div>
				  			<div class="col-sm-offset-2 col-sm-10 mini-margin-bottom">
				  				{{form.email.errors }}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-2 control-label">{{form.email.label}}</label>
					    	<div class="col-sm-10">
					      		{{form.email}}
					    	</div>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-2 col-sm-10">
				      		<button type="submit" class="btn btn-sm btn-primary">Reset Password</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}