{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">
	<div id="info_section" class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<p> 
					Thanks for signing up. We have sent email to address <b>{{email}}</b>. 
					<br/>
					Please activate your account by clicking the link in the email
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}