{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">

	<div id="signup_complete_section" class="div-center">
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Complete your account registration
			</div>
			<div class="panel-body">
				<form id="signup_complete_form" name="signup_complete_form" method="post" action="{{url('signup_complete',confirmation_key)}}" class="form-horizontal"> {% csrf_token %}
					{% for hidden in form.hidden_fields() %}
					    {{ hidden }}
					{% endfor %}

					{% if form.non_field_errors() %}
						<ul class='errorlist'>
					    	{% for non_field_error in form.non_field_errors() %}
					      		<li>{{ non_field_error }}</li>
					    	{% endfor %}
					    </ul>
					{% endif %}
					<div class="initial-section form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.name_initial.errors}}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.name_initial.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.name_initial}}
					    	</div>
					    </div>
				  	</div>
				  	<div class="password-section form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.password1.errors}}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.password1.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.password1}}
					    	</div>
					    </div>
				  	</div>
				  	<div class="password-section form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.password2.errors}}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.password2.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.password2}}
					    	</div>
					    </div>
				  	</div>

				  	<div class='large-margin-top'>
				  		{% if signup_request.signup_email_type == "company" %}
				  			<div class='align-center medium-margin-left medium-margin-bottom'>
				  				Your email indicates that you are a working professional. You are allowed to post free ad. Please complete your profile below
				  			</div>

				  			<div class="form-group">
						  		<div>
						  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
						  				{{form.company.errors}}
						  			</div>
						  		</div>
						  		<div>
							    	<label class="col-sm-4 control-label">{{form.company.label}}</label>
							    	<div class="col-sm-8">
							      		<input class="form-control" id="id_company" name="company" type="text" value="{{signup_request.suggest_company.name}}" disabled='disabled'>
							    	</div>
							    </div>
						  	</div>
						  	<div class="form-group">
						    	<label class="col-sm-4 control-label">{{form.occupation.label}}</label>
						    	<div class="col-sm-8">
						      		{{form.occupation}}
						    	</div>
						  	</div>
						  	<div class="form-group">
						  		<div>
						  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
						  				{{form.preferred_email.errors}}
						  			</div>
						  		</div>
						  		<div>
							    	<label class="col-sm-4 control-label">{{form.preferred_email.label}}</label>
							    	<div class="col-sm-8">
							      		{{form.preferred_email}}
							    	</div>
						    	</div>
						  	</div>

						{% elif signup_request.signup_email_type == "company_pending" %}
							<div class='align-center medium-margin-left medium-margin-bottom'>
				  				We cannot identify if your email address is company email or not. Please give us more information about you
				  			</div>

				  			<div id="check_company_email_section" class="form-group">
				  				<div>
						  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
						  				{{form.is_company_email.errors}}
						  			</div>
						  		</div>
						  		<div>
							    	<label class="col-sm-4 control-label">
							    		Is Company Email?
							    	</label>
							    	<div class="col-sm-8 mini-margin-top">
							    		{% if form.company.errors %}
								      		<input type='radio' name="check_company_email" value='{{TRUE}}' checked="checked">
											<span class='mini-margin-left large-margin-right'>Yes</span>

											<input type='radio' name="check_company_email" value='{{FALSE}}'>
											<span class='mini-margin-left'>No</span>

											<input type='hidden' id='id_is_company_email' name="is_company_email" value="{{TRUE}}"/>

										{% elif form.request_approve_email.errors or form.connection_relationship.errors %}

											<input type='radio' name="check_company_email" value='{{TRUE}}' checked="checked">
											<span class='mini-margin-left large-margin-right'>Yes</span>

											<input type='radio' name="check_company_email" value='{{FALSE}}' checked='checked'>
											<span class='mini-margin-left'>No</span>

											<input type='hidden' id='id_is_company_email' name="is_company_email" value="{{FALSE}}"/>

										{% else %}

											<input type='radio' name="check_company_email" value='{{TRUE}}'>
											<span class='mini-margin-left large-margin-right'>Yes</span>

											<input type='radio' name="check_company_email" value='{{FALSE}}'>
											<span class='mini-margin-left'>No</span>

											<input type='hidden' id='id_is_company_email' name="is_company_email"/>
										{% endif %}

							    	</div>
							    </div>
						  	</div>

						  	<div id="company_email_type_section" class='email-type-info-section hidden'>
					  			<div class="form-group">
							  		<div>
							  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
							  				{{form.company.errors}}
							  			</div>
							  		</div>
							  		<div>
								    	<label class="col-sm-4 control-label">{{form.company.label}}</label>
								    	<div class="col-sm-8">
								      		{{form.company}}
								    	</div>
								    </div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">{{form.occupation.label}}</label>
							    	<div class="col-sm-8">
							      		{{form.occupation}}
							    	</div>
							  	</div>
						  	</div>

						  	{% if form.request_approve_email.errors or form.connection_relationship.errors %}
						  	<div id="others_email_type_section" class='email-type-info-section'>

						  	{% else %}
						  	<div id="others_email_type_section" class='email-type-info-section hidden'>

						  	{% endif %}
						  		<div class="form-group">
							  		<div>
							  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
							  				{{form.request_approve_email.errors}}
							  			</div>
							  		</div>
							  		<div>
								    	<label class="col-sm-4 control-label">{{form.request_approve_email.label}}</label>
								    	<div class="col-sm-8">
								      		{{form.request_approve_email}}
								    	</div>
								    </div>
							  	</div>
							  	<div class="form-group">
							  		<div>
							  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
							  				{{form.connection_relationship.errors}}
							  			</div>
							  		</div>
							  		<div>
								    	<label class="col-sm-4 control-label">{{form.connection_relationship.label}}</label>
								    	<div class="col-sm-8">
								      		{{form.connection_relationship}}
								    	</div>
								    </div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">{{form.connection_message.label}}</label>
							    	<div class="col-sm-8">
							      		{{form.connection_message}}
							    	</div>
							  	</div>
						  	</div>
				  	
				  		{% else %}
				  			<div class='align-center medium-margin-left medium-margin-bottom'>
				  				Your email indicate that you are not a working professional. You can optionally request a qualitifed users to approve you as their connection to be eligible to post ad.
				  			</div>

				  			<div class="form-group">
						  		<div>
						  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
						  				{{form.request_approve_email.errors}}
						  			</div>
						  		</div>
						  		<div>
							    	<label class="col-sm-4 control-label">{{form.request_approve_email.label}}</label>
							    	<div class="col-sm-8">
							      		{{form.request_approve_email}}
							    	</div>
							    </div>
						  	</div>
						  	<div class="form-group">
						  		<div>
						  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
						  				{{form.connection_relationship.errors}}
						  			</div>
						  		</div>
						  		<div>
							    	<label class="col-sm-4 control-label">{{form.connection_relationship.label}}</label>
							    	<div class="col-sm-8">
							      		{{form.connection_relationship}}
							    	</div>
							    </div>
						  	</div>
						  	<div class="form-group">
						    	<label class="col-sm-4 control-label">{{form.connection_message.label}}</label>
						    	<div class="col-sm-8">
						      		{{form.connection_message}}
						    	</div>
						  	</div>
				  		{% endif %}
				  	</div>

				  	<div class="form-group">
				    	<div class="col-sm-offset-4 col-sm-8 mini-margin-top">
				      		{% if signup_request.signup_email_type == "company_pending" %}
				      			<button type="submit" class="btn btn-sm btn-primary">Complete Register</button>
				      		{% else %}
				      			<button type="submit" class="btn btn-sm btn-primary">Complete Register</button>
				      		{% endif %}
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}