<div class="modal fade" id="delete_conversation_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Delete Conversation</h4>
            </div>
            <div class="modal-body">
                <p class='medium-text'>
                    Are you sure that you want to delete this conversation?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="delete_conversation_final_btn" class="btn btn-danger btn-sm" data-dismiss='modal'>
                    Yes, delete it
                </button>
                <input type='hidden' id='delete_conversation_type' value=''/>
            </div>
        </div>
    </div>
</div>