<div class="modal fade" id="image_preview_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <div class="modal-body">
                <div class='row div-center'>
                    <img id="image_preview">
                </div>
                <div class='row div-center'>
                    <div class='medium-margin-top'>
                        <i class='fa fa-undo fa-3 small-margin-right pointer-cursor' id='image_rotate_left_btn'></i>
                        <i class='fa fa-repeat fa-3 pointer-cursor' id="image_rotate_right_btn"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="upload_photo_final_btn" class="btn btn-primary btn-sm" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>