@media screen and (min-width: 980px) /* Desktop */ {
	#about_us_section {
		padding-left:100px;
	    padding-right:100px;
	}

}

body {
	color: #565a5c !important;
}

p {
	font-size:16px;
	margin-bottom:25px;
	line-height:1.4;
}

h1 {
	margin-bottom:0px;
}

