.list-group-item,
.list-group-item {
	cursor: pointer;
}

.list-group-item:hover,
.list-group-item:hover {
	background-color: #f5f5f5;
}

.list-group-item.active,
.list-group-item.active:hover {
	color: #333;
	background-color: #f9f9f9;
	font-weight: bold;
	border-bottom:1px solid #ddd;
	border-top: 1px solid #ddd;
}

.list-group-item.active:hover {
	cursor: default
}

#dashboard_post .panel-heading.have-post,
#dashboard_post .panel-heading.have-post .panel-title {
	line-height:34px;
}

#dashboard_post table tbody td {
	height:50px;
}

#dashboard_message .message-title {
	line-height: 34px
}

#dashboard_message .page-responsive button[data-value='buying'] {
	width:48%;
}

#dashboard_message .page-responsive button[data-value='selling'] {
	width:48%;
}

#dashboard_message #delete_buying_conversation_btn,
#dashboard_message #delete_selling_conversation_btn {
	margin-left:10px;
}

@media (max-width: 767px) {
	#dashboard_message #dashboard_buying #send_buying_post_message_btn,
	#dashboard_message #dashboard_selling #send_selling_post_message_btn {
		width: 100%;
		margin-top:10px;
	}

	#dashboard_message #dashboard_selling #selling_post_message_input,
	#dashboard_message #dashboard_buying #buying_post_message_input {
		width:100%;
	}
}


#dashboard_settings,
#dashboard_notification {
	padding-left:100px;
	padding-right:100px;
}

@media (max-width: 768px) {
	#dashboard_settings,
	#dashboard_notification {
		padding-left:20px;
		padding-right:20px;
	}
}


#dashboard_settings label.error {
	font-weight:normal;
	margin-top:5px;
}


#dashboard_account_credential .row,
#dashboard_settings .row {
	margin-bottom:15px;
}

#dashboard_account_credential textarea#connection_request_message_input {
	font-size:12px;
}

#dashboard_selling .panel-body,
#dashboard_buying .panel-body {
	padding-top:0px;
}

#dashboard_selling #selling_post_message_history,
#dashboard_buying #buying_post_message_history {
	padding-bottom:15px;
}

#dashboard_selling .message-item,
#dashboard_buying .message-item {
	padding-bottom: 15px;
	padding-top:15px;
	border-bottom: 1px solid #dadada;
}

#dashboard_buying .list-group-item.active {
	color: #333;
	background-color: #f9f9f9;
	font-weight: bold;
}

#dashboard_buying .list-group-item.active:hover {
	background-color: #f9f9f9;
	cursor: default;
}

#dashboard_selling #selling_post_message_input,
#dashboard_buying #buying_post_message_input {
	width: 88%;
	float:left;
	height:65px;
}

#dashboard_selling #send_selling_post_message_btn,
#dashboard_buying #send_buying_post_message_btn {
	width: 10%;
	float:right;
}

#dashboard_selling .post-conversation-panel {
	margin-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

#dashboard_selling .post-conversation-item {
	padding-left:30px;
}

#dashboard_selling .list-group-item.active {
	color: #333;
	background-color: #f9f9f9;
	border-bottom:1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight: bold;
}

#dashboard_selling .list-group-item.active.first {
	border-top:0px;
}

#dashboard_selling .list-group-item.active.last {
	border-bottom:0px;
}

#dashboard_selling .list-group-item.active:hover {
	background-color: #f9f9f9;
}



#dashboard_notification .notification-item {
	border-left:0px;
	border-right:0px;
	padding:15px;
	cursor: pointer;
}

#dashboard_notification .notification-item .notification-content {
	width: 80%;
}

#dashboard_notification .notification-item.new {
	background-color: #edeff5;
}

#dashboard_notification .notification-item:hover {
	background-color: #f6f7f8;
}

#dashboard_nav,
#dashboard_nav .nav-tabs,
#dashboard_nav .nav-tabs>li>a:focus,
#dashboard_nav .nav-tabs>li>a:hover {
	background-color: #565a5c;
}

#dashboard_nav .nav-tabs {
	border-bottom: none;
}

#dashboard_nav .subnav-item {
	color: #cacccd;
	float: left;
    padding: 10px 15px;
}
#dashboard_nav .subnav-item:hover,
#dashboard_nav .subnav-item[aria-selected="true"] {
	text-decoration: none;
	color: #fff;
	border-radius:0px;
	border:0px;
}

#dashboard_nav .subnav-item[aria-selected="true"]:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 14px;
    right: 14px;
    height: 4px;
    background: #cacccd;
}

#dashboard_nav .nav-tabs > li {
	border-left:none;
}

#dashboard_nav_responsive > .navbar {
  	background-color: #565a5c;
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
    min-height:0px;
}

#dashboard_nav_responsive > .navbar > .navbar-toggle {
	float:left;
	margin-top:0px;
	margin-bottom:0px;
	width: 100%;
    text-align: left;
    padding-left: 15px;
}

#dashboard_nav_responsive > .navbar-collapse {
	background-color: #565a5c;
}

#dashboard_nav_responsive > .navbar-collapse a {
	color:white;
}

#dashboard_nav_responsive > .navbar-collapse li {
	background-color: #565a5c;
}


#dashboard_post .panel-body .page-responsive {
	font-size:12px;
}
