#edit_post_section,
#create_post_section {
	margin-top:30px;
    margin-bottom:30px;
}

#edit_post_section .panel-heading,
#create_post_section .panel-heading {
	font-weight:bold;
	font-size: 18px;
    background-color: #eee;
    text-align: center;
}

#edit_post_form_error_section,
#create_post_form_error_section {
    margin-bottom:30px;
}

#edit_post_form_error_section .error-header,
#create_post_form_error_section .error-header {
    font-weight:bold;
    font-size:13px;
    margin-bottom:5px;
}


#edit_post_form_error_section label,
#create_post_form_error_section label {
    color:red;
}

#edit_post_form_error_section ul.errorlist,
#create_post_form_error_section ul.errorlist {
    color:red;
    list-style-type: square;
    margin-left:30px;
}

#edit_post_form #contact_by_section,
#create_post_form #contact_by_section {
    margin-top:20px;
}

#edit_post_form #contact_by_section .bootstrap-tagsinput,
#create_post_form #contact_by_section .bootstrap-tagsinput {
	width: 150px;
    margin-bottom:0px;
}

#edit_post_form #contact_by_everyone_or_professional_section label.error,
#create_post_form #contact_by_everyone_or_professional_section label.error {
    margin-top:2px;
    margin-left:20px;
    float:right;
}

#edit_post_form #contact_by_specified_professional_section label.error,
#create_post_form #contact_by_specified_professional_section label.error {
    margin-top:10px;
    margin-left:20px;
}

#edit_post_form #upload_photo_input,
#create_post_form #upload_photo_input {
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 92%;
    cursor:pointer;
}

#edit_post_form #upload_photo_container,
#create_post_form #upload_photo_container {
	border: 3px dashed #ccc;
    background: #fff;
    height: 50px;
    width:100%;
    text-align: center;
    padding:10px;
    cursor:pointer;
    font-size:16px;
    color: #999;
}

#edit_post_form #upload_photo_thumbnail_list .main-photo,
#create_post_form #upload_photo_thumbnail_list .main-photo {
    float:left;
}

#edit_post_form #upload_photo_thumbnail_list .additional-photo,
#create_post_form #upload_photo_thumbnail_list .additional-photo {
    float:left;
}

#edit_post_form #upload_photo_thumbnail_list .additional-photo img,
#create_post_form #upload_photo_thumbnail_list .additional-photo img {
    width:50px;
}

#edit_post_form #upload_photo_thumbnail_list li,
#create_post_form #upload_photo_thumbnail_list li {
    position: relative;
}

#edit_post_form #upload_photo_thumbnail_list li .delete-photo-btn,
#create_post_form #upload_photo_thumbnail_list li .delete-photo-btn {
    color: #fff;
    width: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    text-align: center;
    opacity: .8;
    cursor: pointer;
    z-index: 20;
}

#sold_post_section,
#expired_post_section {
    margin-top:100px;
}

#sold_post_section a,
#expired_post_section a {
    color: #428bca;
}

#post_button_section {
    position:absolute;
    right:0px;
    bottom:5px;
}

#detail_post_map_canvas {
    width: 100%;
    height:250px;
}

#detail_post_section #post_additional_detail_section .additional-detail-item {
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 5px 10px;
    font-size:14px;
    margin-bottom:10px;
}

#detail_post_section #post_additional_detail_section .additional-detail-item .key-item {
    font-weight:bold;
}

#post_photo_section .post-photo-thumbnail:hover {
    border:1px solid #333;
}

#complete_post_form .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}

#complete_post_form div.action-section p {
    margin-bottom:15px;
}

#transaction_feedback_modal #transaction_feedback_section {
    max-height:300px;
    overflow: scroll;
}

#transaction_feedback_modal #transaction_feedback_section .list-group-item {
    border:0px;
    padding-left:0px;
}

#image_preview {
    max-width: 250px;
    max-height:250px;
}

#image_preview_modal i.fa-3 {
    font-size:26px;
}

#post_display_photo {
    width: 100%;
}

#post_button_section .expire-notice {
    margin-top:5px;
}

@media screen and (max-width: 767px) {
    #post_title_section {
        margin-top:50px;
    }

    #post_button_section {
        top:-20px;
        width:100%;
    }

    #post_button_section .user-action {
        display:table;
        margin: 0 auto;
    }

    #post_button_section .expire-notice {
        text-align: center;
    }
}
