#search_form {
	padding:0px;
	margin:0px;
}

#search_form .form-group {
	margin-bottom: 15px;
	display: block;
}

#search_form .form-group .form-control{
	width:100%;
}

#search_post_section {
	margin-top:20px;
}

#search_filter_section .panel .panel-heading {
	font-weight: bold;
	font-size:14px;
}

.left-half-form {
	width:48% !important;
	margin-right:4%;
	float:left;
}

.right-half-form {
	width:48% !important;
	float:left;
}

#result_summary_section .panel-heading {
	font-size: 14px;
	font-weight: bold;
}

#result_summary_section .panel-heading .fa {
	font-size:18px;
}

.search-post-item {
	position: relative;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 1px solid #dadada;
}

.search-post-item.page-normal .post-item-price {
	position: absolute;
	right: 15px;
	top:0px;
	font-weight: bold;
}

.search-post-item.page-normal .post-date {
	position: absolute;
	right: 15px;
	bottom:24px;
}

.search-post-item.page-normal .post-item-info {
	position:relative;
	height:80px;
}

.search-post-item.page-normal .post-item-info .post-title {
	font-size:15px;
}

.search-post-item.page-normal .post-item-info .post-content {
	font-size:13px;
}

.search-post-item.page-normal .post-item-info .post-additional-info {
	position: absolute;
	bottom: -6px;
}

.search-post-item.page-normal .post-image {
	width:80px;
	height:80px;
}
