{% extends base_template %}

{% block main_section %}
<div id="expired_post_section" class='container'>
	<div class='align-center'>
		<h4>This post is expired. {% if user_login == post.user_create %} You cannot access to it anymore. Please go to your dashboard to manage your posts {% endif %} </h4>
	</div>
</div>
{% endblock %}


