{% extends base_template %}

{% block main_section %}
	<div id="edit_post_section" class='container'>
		<form id="edit_post_form" class='post-form' name="edit_post_form" method="post" action="/post/{{post.unique_id}}/edit" enctype="multipart/form-data" novalidate> {% csrf_token %}
			<div class="panel panel-default">
				<div class="panel-heading">
					Edit Your Ad
				</div>

				<div class='panel-body'>
					
					{% if is_form_invalid %}
					<div id="edit_post_form_error_section" class='row'>
						<div class='col-md-12'>
							<div class='row error-header'>
								You failed to post and ad because of these following error:
							</div>
							{% for field in form %}
								{% if field.errors %}
									<div class='row'>
									{{ field.label_tag }} {{ field.errors }}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					{% endif %}

					<div class='row'>
						<div id="category_field" class='col-md-2'>
							<div class='form-group'>
								<label for="id_category">Category</label>
								{{form.category}}
							</div>
						</div>

						{% if form.category.data %}
						<div id="subcategory_field" class='col-md-2'>
						{% else %}
						<div id="subcategory_field" class='col-md-2 hidden'>
						{% endif %}
							<div class='form-group'>
								<label for="id_subcategory">Specific</label>
								{{form.subcategory}}
								{% for key,value in post_subcategory_map.iteritems() %}
									{% if value %}
										{% if form.category.data == key %}
											<select class='form-control sub-category-select' id="{{key}}_subcategory">
												{% for item in value %}
													{% if item.0 == form.subcategory.data %}
														<option value='{{item.0}}' selected="selected">{{item.1}}</option>
													{% else %}
														<option value='{{item.0}}'>{{item.1}}</option>
													{% endif %}
												{% endfor %}
											</select>
										{% else %}
											<select class='form-control hidden sub-category-select' id="{{key}}_subcategory">
												{% for item in value %}
													<option value='{{item.0}}'>{{item.1}}</option>
												{% endfor %}
											</select>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
						
						
					</div>
					<div class='row'>
						<div id="title_field" class="col-md-6">
							<div class='form-group'>
								<label for="id_title">Title</label>
								{{form.title}}
							</div>
						</div>
						
						<div id="postal_code_field" class='col-md-2'>
							<div class='form-group'>
								<label for="id_postal_code">Postal Code</label>
								{{form.postal_code}}
							</div>
						</div>

						<div id="price_field" class='col-md-2'>
							<div class='form-group'>
								<label for="id_price">Price</label>
								{{form.price}}
							</div>
						</div>

						<div id="item_condition_field" class='col-md-2'>
							<div class='form-group'>
								<label for="id_item_condition">Condition</label>
								{{form.item_condition}}
							</div>
						</div>

					</div>

					<div class='row'>
						<div id="content_field" class='col-md-12'>
							<div class="form-group">
								<label for="id_content">Post Content</label>
								<span class='pull-right page-normal'>Please enter the content for your post</span>
								{{form.content}}
							</div>
						</div>
					</div>

					{% if form.category.data == "auto" and form.subcategory.data == "car" %}
					<did id="auto_car_detail_section" class='additional-detail-section row'>
					{% else %}
					<did id="auto_car_detail_section" class='additional-detail-section row hidden'>
					{% endif %}	
						<div class='row'>
							<div class='col-md-2'>
								<label>Vin</label>
								{{auto_detail_form.vin}}
							</div>
							<div class='col-md-2'>
								<label>Make</label>
								{{auto_detail_form.make}}
							</div>
							<div class='col-md-2'>
								<label>Model</label>
								{{auto_detail_form.model}}
							</div>
							<div class='col-md-2'>
								<label>Year</label>
								{{auto_detail_form.year}}
							</div>
							<div class='col-md-2'>
								<label>Mileage</label>
								{{auto_detail_form.mileage}}
							</div>
							<div class='col-md-2'>
								<label>Color</label>
								<select name='color' class='form-control'>
									{% if auto_detail_form.color.data %}

										{% for item in AUTO_COLOR_TYPE %}
											{% if auto_detail_form.color.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>

									{% else %}
										<option value="" selected>
											-------------
										</option>
										{% for item in AUTO_COLOR_TYPE %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}
										
									{% endif %}

								</select>
							</div>
						</div>
						<div class='row large-margin-bottom small-margin-top'>
							<div class='col-md-2'>
								<label>Title</label>
								<select name='title_status' class='form-control'>
									{% if auto_detail_form.title_status.data %}

										{% for item in AUTO_TITLE_STATUS %}
											{% if auto_detail_form.title_status.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>
										{% for item in AUTO_TITLE_STATUS %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}
										
									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Body</label>
								<select name='body_type' class='form-control'>
									{% if auto_detail_form.body_type.data %}

										{% for item in AUTO_BODY_TYPE %}
											{% if auto_detail_form.body_type.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in AUTO_BODY_TYPE %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Tranmission</label>
								<select name='transmission' class='form-control'>
									{% if auto_detail_form.transmission.data %}

										{% for item in AUTO_TRANSMISSION %}
											{% if auto_detail_form.transmission.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in AUTO_TRANSMISSION %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Cylinder</label>
								<select name='cylinder' class='form-control'>
									{% if auto_detail_form.cylinder.data %}

										{% for item in AUTO_CYLINDER_TYPE %}
											{% if auto_detail_form.cylinder.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in AUTO_CYLINDER_TYPE %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Fuel</label>
								<select name='fuel' class='form-control'>
									{% if auto_detail_form.fuel.data %}

										{% for item in AUTO_FUEL_TYPE %}
											{% if auto_detail_form.body_type.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in AUTO_FUEL_TYPE %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
						</div>
					</did>

					{% if form.category.data == "housing" %}
					<div id="housing_detail_section" class='additional-detail-section row'>
					{% else %}
					<div id="housing_detail_section" class='additional-detail-section row hidden'>
					{% endif %}
						<div class='row'>
							<div class='col-md-6'>
								<label>Address</label>
								{{housing_detail_form.address}}
							</div>

							<div class='col-md-2'>
								<label>Square Feet</label>
								{{housing_detail_form.total_area}}
							</div>
							<div class='col-md-2'>
								<label>Available On</label>
								{% if housing_detail_form.available_on.data %}
									<input type='hidden' name='available_on' value='{{housing_detail_form.available_on.data}}'/>
									<div id='available_on_datepicker' class='bfh-datepicker' data-date='{{housing_detail_form.available_on.data}}'></div>
								{% else %}
									<input type='hidden' name='available_on' value=''/>
									<div id='available_on_datepicker' class='bfh-datepicker' data-date=''></div>
								{% endif %}
							</div>
							<div class='col-md-2'>
								<label>Housing Type</label>
								<select name='housing_type' class='form-control'>
									{% if housing_detail_form.housing_type.data %}

										{% for item in HOUSING_TYPE %}
											{% if housing_detail_form.housing_type.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in HOUSING_TYPE %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
						</div>
						<div class='row large-margin-bottom small-margin-top'>
							<div class='col-md-2'>
								<label>Bedroom</label>
								<select name='num_bedroom' class='form-control'>
									{% if housing_detail_form.num_bedroom.data %}

										{% for item in HOUSING_NUM_BEDROOM %}
											{% if housing_detail_form.num_bedroom.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in HOUSING_NUM_BEDROOM %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Bathroom</label>
								<select name='num_bathroom' class='form-control'>
									{% if housing_detail_form.num_bathroom.data %}

										{% for item in HOUSING_NUM_BATHROOM %}
											{% if housing_detail_form.num_bathroom.data == item.0 %}
												<option value="{{item.0}}" selected>
													{{item.1}}
												</option>
											{% else %}
												<option value="{{item.0}}">
													{{item.1}}
												</option>
											{% endif %}
										{% endfor %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>

										{% for item in HOUSING_NUM_BATHROOM %}
											<option value="{{item.0}}">{{item.1}}</option>
										{% endfor %}

									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Cat Ok</label>
								<select name='is_allow_cat' class='form-control'>
									{% if housing_detail_form.is_allow_cat.data %}

										{% if housing_detail_form.is_allow_cat.data == "1" %}
											<option value="1" selected>
												Allow Cat
											</option>
											<option value="0">
												Not Allow Cat
											</option>
										{% elif housing_detail_form.is_allow_cat.data == "0" %}
											<option value="1">
												Allow Cat
											</option>
											<option value="0" selected>
												Not Allow Cat
											</option>
										{% else %}
											<option value="1">
												Allow Cat
											</option>
											<option value="0">
												Not Allow Cat
											</option>
										{% endif %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>
										<option value="1">
											Allow Cat
										</option>
										<option value="0">
											Not Allow Cat
										</option>

									{% endif %}
								</select>
							</div>
							<div class='col-md-2'>
								<label>Dog Ok</label>
								<select name='is_allow_dog' class='form-control'>
									{% if housing_detail_form.is_allow_dog.data %}

										{% if housing_detail_form.is_allow_dog.data == "1" %}
											<option value="1" selected>
												Allow Dog
											</option>
											<option value="0">
												Not Allow Dog
											</option>
										{% elif housing_detail_form.is_allow_dog.data == "0" %}
											<option value="1">
												Allow Dog
											</option>
											<option value="0" selected>
												Not Allow Dog
											</option>
										{% else %}
											<option value="1">
												Allow Dog
											</option>
											<option value="0">
												Not Allow Dog
											</option>
										{% endif %}

										<option value="">
											Don't Know
										</option>
										
									{% else %}
										<option value="" selected>
											-------------
										</option>
										<option value="1">
											Allow Dog
										</option>
										<option value="0">
											Not Allow Dog
										</option>

									{% endif %}
								</select>
							</div>
						</div>
					</div>

					<div id="post_picture_section" class='row'>
						<div class="col-md-3">
			                <label>Upload your pictures</label>
			            </div>
			            <div class='col-md-4'>
                            <input type="file" id="upload_photo_input"/>
                            <input type='hidden' id="upload_photo_rotation_angle"/>
                            <div id="upload_photo_container">
                               Drag and Drop or Click to Upload
                            </div>
			            </div>
			            <div class='col-md-4 pull-right'>
			            	<ul id="upload_photo_thumbnail_list" class='pull-right'>
			            		{% with main_photo=post.main_photo, photos=post.photos.all() %}

				            		{% if main_photo %}
					            		<li class='photo main-photo' data-unique-id='{{main_photo.unique_id}}'>
											<img src='{{get_image_url(main_photo.unique_id,80,80,"fit")}}' width='80' height='80'>
											<span class="delete-photo-btn" onclick="handleDeletePhoto('{{main_photo.unique_id}}')">X</span>
										</li>
									{% endif %}
								
									{% if photos %}
										{% for photo in photos %}
											<li class='photo additional-photo' data-unique-id='{{photo.unique_id}}'>
												<img src='{{get_image_url(main_photo.unique_id,80,80,"fit")}}' width='80' height='80'>
												<span class="delete-photo-btn" onclick="handleDeletePhoto('{{photo.unique_id}}')">X</span>
											</li>
										{% endfor %}
									{% endif %}

								{% endwith %}
			            	</ul>
			            </div>
					</div>

					<div id="contact_by_section" class="row">
						<div class='col-md-3'>
							<label>Who do you allow to contact your ads:</label>
						</div>
						<div class='col-md-6'>
							<div class='pull-left'>

								<div class='row' id="contact_by_everyone_or_professional_section">

									<div class='row'>
										{% if post.contact_permission.group_permission_type == "everyone" %}
											<input type='radio' name="contact_by" id="contact_by_everyone" value='everyone' checked="checked">
											<span class='mini-margin-left large-margin-right'>Everyone</span>
										{% else %}
											<input type='radio' name="contact_by" id="contact_by_everyone" value='everyone'>
											<span class='mini-margin-left large-margin-right'>Everyone</span>
										{% endif %}
									</div>

									<div class='row small-margin-top'>
										{% if post.contact_permission.group_permission_type == "professional" %}
											<input type='radio' name="contact_by" id="contact_by_professional" value='professional' checked="checked">
											<span class='mini-margin-left'>All professional & their connection</span>
										{% else %}
											<input type='radio' name="contact_by" id="contact_by_professional" value='professional'>
											<span class='mini-margin-left'>All professional & their connection</span>
										{% endif %}
									</div>

								</div>

								<div class='row small-margin-top' id="contact_by_specified_professional_section">
									{% if post.contact_permission.group_permission_type == "specified_professional" %}
										<input type='radio' name="contact_by" id="contact_by_specified_professional" value='specified_professional' checked='checked'>
										<span class='mini-margin-left mini-margin-right'>Professional from company: </span>
										<input type='text' class='form-control' id='id_companies' placeholder='Company' data-role="tagsinput" value="{{contact_by_companies}}">
									{% else %}
										<input type='radio' name="contact_by" id="contact_by_specified_professional" value='specified_professional'>
										<span class='mini-margin-left mini-margin-right'>Professional from company: </span>
										<input type='text' class='form-control' id='id_companies' placeholder='Company' data-role="tagsinput">
									{% endif %}
									{{form.contact_by_companies}}
								</div>

								<input type='hidden' name='contact_permission' value="{{post.contact_permission.group_permission_type}}"/>
							</div>
						</div>
					</div>

					<div class='hidden'>
						<input type="hidden" name="main_photo" id="id_main_photo"/>
						<input type='hidden' name='photos' id="id_photos"/>
					</div>

				</div>
			</div>

			<div class'row'>
				<div class='pull-right'>
					<input type='submit' class='btn btn-primary' value="Update">
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block modal %}
	{% include ["sites/common/modal/image_preview" + TEMPLATE_FILE_EXTENSION] %}
{% endblock %}


